.post {
    display: grid;
    grid-gap: 8px;
}
.post-profile {
    display: grid;
    position: relative;
    grid-template-columns: 0 35px 16px 1fr 26px 0;
    grid-template-rows: 10% 40% 8% 26% 16%;
}
.post-profile__avatar {
    margin: auto;
    grid-column: 2;
    grid-row: 2 / 5;
}
.post-profile__name {
    grid-column: 4;
    grid-row: 2;
}
.post-profile__date {
    grid-column: 4;
    grid-row: 4;
}
.post-profile__dots {
    grid-column: 5;
    grid-row: 1/6;
    padding: 16px 10px;
    top: -10px;
    position: relative;
    cursor: pointer;
}
.post-text {
    white-space: pre-line;
    overflow: auto;
    word-wrap: break-word;
}
.post-media {
    display: flex;
    flex-wrap: wrap;
}
.post-media__img {
    flex-grow: 1;
    flex-basis: 0;
    margin: 4px;
    max-width: 100%;

    max-height: 418px;
    /*max-height: 207px;*/
    /*max-height: 207px;*/

    min-height: 150px;
    min-width: 150px;

    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.post-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}
.post-buttons-like {
    display: flex;
    gap: 6px;
}
.like__count {
    display: inline-grid;
    align-items: center;
}
.post-buttons-comment {
    display: flex;
    gap: 6px;
}
.comment__count {
    display: inline-grid;
    align-items: center;
}
.post-buttons-bookmark {
    margin-top: 4px;
}

.post-menu {
    position: absolute;
    margin-top: 16px;
    padding: 12px;

    display: none;
}
.post-profile__dots:hover + .post-menu {
    display: grid;
}
.post-menu:hover {
    display: grid;
}
.post-menu-item-edit {
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 8px;
}
.post-menu-item-delete {
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    padding: 8px;
}

.post-menu-position {
    top: 20%;
    right: 0;
}

.post-hover img:nth-child(2) {
    display: none;
}
.post-hover:hover img:nth-child(1) {
    display: none;
}
.post-hover:hover img:nth-child(2) {
    display: inline-block;
}
