.post {
    display: grid;
    grid-gap: 8px;
}
.post-profile {
    display: grid;
    grid-template-columns: 0 4.6% 1% 84.5% 7.8% 2.1% 0;
    grid-template-rows: 16% 32% 10% 26% 16%;
}
.post-profile__avatar {
    margin: auto;
    grid-column: 2;
    grid-row: 2 / 5;
}
.post-profile__name {
    grid-column: 4;
    grid-row: 2;
}
.post-profile__date {
    grid-column: 4;
    grid-row: 4;
}
.post-profile__dots {
    grid-column: 6;
    grid-row: 1/6;
}
.post-text {

}
.post-media {

}
.post-buttons {
    display: grid;
    grid-template-columns: 0 6% 6% 6%;
}
.post-buttons__icon {
    margin: auto;
}
.post-buttons-like {
    grid-column: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}
.like__count {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.post-buttons-comment {
    grid-column: 3;
    display: grid;
    grid-template-columns: 50% 50%;
}
.comment__count {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.post-buttons-bookmark {
    grid-column: 4;
}
.post-menu {
    position: absolute;
    margin-top: 10px;
    padding: 12px;

    display: none;
    grid-template-rows: 1fr 1fr;
}
.post-profile__dots:hover + .post-menu {
    display: grid;
}
.post-menu:hover {
    display: grid;
}
.post-menu-item {
    cursor: pointer;
}

.post-menu-size {
    width: 6%;
    height: 50px;
}
.post-menu-position {
    left: 75%;
    top: 20%;
}
