<div class="post background-color-post border-radius">
    <div class="post-profile"></div>
    <div class="post-text"></div>
    <div class="post-media"></div>
    <div class="post-buttons"></div>

    {{> commentArea this }}
</div>
