{{# if displayNone}}
{{else}}
    {{# if isCreate }}
        {{> editPost create }}
    {{else}}
        <div class="create-post background-color-post border-radius box-shadow-create-post">
            <img class="create-post__profile profile-img-size margin-auto avatar-form" src={{ avatar_url }}>
            <input maxlength="1500" class="create-post__input border-none font-InterRegular font-size-15 font-color-gray-text" placeholder="Добавить запись" id="{{ jsId }}">

            <div class="hover-pic margin-auto cursor-pointer" id="js-add-photo-to-post" style="grid-column: 4;">
                <img class="margin-auto" src="static/img/post_icons/sticker.svg">
                <img class="margin-auto" src="static/img/post_icons/sticker_active.svg">
            </div>

            <div class="hover-pic margin-auto cursor-pointer" id="js-add-smile-to-post" style="grid-column: 5;">
                <img class="margin-auto" src="static/img/post_icons/smile.svg">
                <img class="margin-auto" src="static/img/post_icons/smile_hover.svg">
            </div>
        </div>
    {{/if}}
{{/if}}
