.create-post {
    display: grid;
    height: 59px;
    grid-template-columns: 4px 35px 1fr auto auto 4px;
    grid-column-gap: 16px;
}


.create-post__profile {
    grid-column: 2;
}
.create-post__input {
    grid-column: 3;
    outline:none;
}
