<div class="create-post background-color-post border-radius">
    <img class="create-post__profile profile-img-size margin-auto" src={{ avatar }}>
    <input class="create-post__input border-none font-InterMedium font-size-15 font-color-gray-text" placeholder="Добавить запись" id="{{ jsId }}">

    <div class="hover-pic margin-auto" style="grid-column: 6;">
        <img class="margin-auto" src="static/img/post_icons/photo.svg">
        <img class="margin-auto" src="static/img/post_icons/photo_hover.svg">
    </div>

    <div class="hover-pic margin-auto" style="grid-column: 8;">
        <img class="margin-auto" src="static/img/post_icons/smile.svg">
        <img class="margin-auto" src="static/img/post_icons/smile_hover.svg">
    </div>
</div>
