<div class="create-post background-color-post border-radius">
    <img class="create-post__profile" src={{ avatar }}>
    <input class="create-post__input border-none" placeholder="Добавить запись">
    <img class="create-post__add-picture" src="static/img/post_icons/photo.svg">
    <img class="create-post__add-smile" src="static/img/post_icons/smile.svg">
</div>
