<div class="post-creator-profile">
    <img src={{ avatar }}>
</div>
<div class="post-input post-creator-element">
    <input placeholder="Добавить запись">
</div>
<div class="post-creator-element">
    <img src="img/post_icons/photo.svg">
    <img src="img/post_icons/photo_hover.svg">
</div>
<div class="post-creator-element">
    <img src="img/post_icons/smile.svg">
    <img src="img/post_icons/smile_hover.svg">
</div>