.post_creator {
    border-radius: 12px;
    grid-area: post_creator;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 2fr 16fr 2fr 2fr;
    grid-column-gap: 8px;
}

.post-creator-element{
    display: flex;
    align-items: center;
}

.post-creator-profile{
    display: flex;
    align-items: center;
}
.post-creator-element img:nth-child(2) {
    display: none;
}

.post-creator-element:hover img:nth-child(1) {
    display: none;
}

.post-creator-element:hover img:nth-child(2) {
    display: inline-block;
}

.post-input input {
    font-family: InterRegular;
    font-size: 15px;
    color: var(--font-color-reg-info);

    width: 100%;
    border: none;
    background: transparent;
}

.post-input input:focus {
    outline: none;
}

.input-block[data-id="1"] { grid-area: 4 / 2; }
.input-block[data-id="2"] { grid-area: 6 / 2; }