<div class="post-area">
    {{> createPost createPostData }}

    {{#if postList}}
        {{#each postList}}
            {{#with (combine this ../createPostData)}}
                {{> post}}
            {{/with}}
        {{/each}}
    {{else}}
        {{> friendNotFound}}
    {{/if}}
</div>
