<div class="post-area">
    {{> createPost createPostData }}

    {{#each postList}}
        <!--{{> post (combine this createPostData)}}-->

        {{#with (combine this ../createPostData)}}
            {{> post}}
        {{/with}}
    {{/each}}
</div>
