<main-auth class="main-auth" id="main-auth">
    <div class="auth-path">
        <div class="auth-table">
            <div class="title">
                Авторизация
            </div>
            <div class="input-block" data-id="6">
                <input placeholder="Электронная почта" type="email" class="input-field correct-input" id="email-field">
                <div class="error-text" id="email-error"></div>
            </div>
            <div class="input-block"  data-id="7">
                <input placeholder="Пароль" type="password" class="input-field correct-input" id="password-field">
                <div class="error-text" id="password-error"></div>
            </div>
            <a class="btn" data-id="2" id="auth">Войти</a>
        </div>
        <div class="reg-table">
            <div class="reg">
                <a class="create-new-account" id="new">У вас еще нет аккаунта? Зарегистрироваться</a>
                <div class="text-reg">
                    После успешной регистрации вы получите доступ ко всем функциям Depeche
                </div>
            </div>
        </div>
    </div>
    <div class="logo-path" style="background-image: url({{ fonPath }})">
        <div class="logo-table">
            <div class="auth--logo-pic" style="background-image: url({{ picPath }})"></div>
            <div class="auth--logo-text">Depeche</div>
            <div class="logo-table-text">Сервис для общения</div>
        </div>
    </div>
</main-auth>