<div class="subscriberItem cursor-pointer js-go-to-profile" data-id="{{ user-link }}">
    <img src="{{ avatar_url }}" class="subscriber__avatar avatar-form">
    <div class="subscriber__name font-color-post-sender font-InterMedium font-size-13">{{ first_name }} {{ last_name }}</div>
</div>
