.subscriberItem {
    align-items: center;
    display: grid;
    grid-template-columns: 35px 10px 1fr;
}

.subscriber__avatar {
    width: 35px;
    height: 35px;
}

.subscriber__name {
    grid-column: 3;
}
