<div class="deleteGroupElem">
    <div class="newGroupBackground"></div>
    <div class="newGroup background-color-profile-menu border-radius-btn-input deleteGroup-position" id="newGroup">
        <div class="newGroup__header-info deleteGroup-info font-color-gray-text">
            <img class="newGroup__img" src="static/img/group.svg">
            <div class="newGroup__header-text font-MailSansRoman font-size-19">Вы уверены, что хотите удалить это сообщество?</div>
        </div>
        <div class="newGroup__info font-MailSansRomanRegular font-size-17 font-color-gray-icon" style="margin-top: -10px;">Все данные из него пропадут</div>
        
        <div class="deleteGroup__button">
            <button class="friend__button friend__button_grey deletePost_size" id="js-group-cancel">
                <div class="friend__button-text"> Отмена </div>
            </button>
            <div class="deletePost_size">
                {{> buttonDefault buttonInfo}}
            </div>
        </div>
    </div>
</div>
