.reg-table .input-block {
    grid-area: input-block;
    display: grid;
    grid-template: 70% 2% 28%/ 100%;
    grid-template-areas:
        "input-field"
        "."
        "error-text";
}

.reg-table .input-field {
    grid-area: input-field;

    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    text-indent: 5px;
    font-family: 'InterMedium';
    font-size: var(--font-size-15);
    color: var(--font-color-gray-text);
}

.reg-table .input-field::placeholder {
    font-family: InterMedium;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
}

.reg-table .correct-input {
    border: none;
    background: var(--background-color-input);
}

.reg-table .incorrect-input {
    border: 1px solid var(--font-color-error);
    background: var(--background-color-error);
}

.reg-table .error-text {
    grid-area: error-text;

    font-family: 'InterRegular';
    font-weight: 400;
    font-size: var(--font-size-12);
    color: var(--font-color-error);
}

.reg-table .btn:hover {
    cursor: pointer;
}

.reg-table .btn {
    grid-area: btn;

    height: 100%;
    width: 100%;
    color: var(--font-color-btn);
    background: var(--background-color-btn);
    font-size: var(--font-size-16);
    font-family: 'MailSansRoman';
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.grid {
    height: 100%;
    display: grid;
    grid-template: 100% / 51.285% 48.715%;
    grid-template-areas:
        "logo-path reg-path";
}

main-reg {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo-path reg-path";
}

@media all and (max-width: 700px) {
    main-reg {
    height: 100%;
    display: grid;

    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
        ". reg-path .";
    }

    .logo-path {
        display: none !important; 
    }


    .reg-path {
        grid-area: auth-path;

        display: grid;
        grid-template-areas:
            ". . ."
            ". reg-table ."
            ". . .";

        grid-template-columns: 10% 80% 10% !important;
        grid-template-rows: minmax(50px, 25%) minmax(300px, 35%) minmax(50px, 40%) !important;
    }
}

.reg-path {
    grid-area: reg-path;

    display: grid;
    grid-template-areas:
        ". . ."
        ". reg-table ."
        ". . .";

    grid-template-columns: 27.5% 45% 27.5%;
    grid-template-rows: minmax(50px, 25%) minmax(300px, 35%) minmax(50px, 40%);
}

.reg-table {
    grid-area: reg-table;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "header"
    "name-input"
    "lastname-input"
    "email-input"
    "password-input"
    "password-repeat-input"
    "register-button"
    "auth-link";

    grid-template-rows: repeat(8, minmax(60px, 1fr));

    grid-template-columns: 1fr;
}

.reg-title {
    grid-area: header;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-title);
}

.reg-table .input-block input:focus {
    outline: 1px solid;
}

.reg-table .input-block[data-id="1"] { grid-area: name-input; }
.reg-table .input-block[data-id="2"] { grid-area: lastname-input; }
.reg-table .input-block[data-id="3"] { grid-area: email-input; }
.reg-table .input-block[data-id="4"] { grid-area: password-input; }
.reg-table .input-block[data-id="5"] { grid-area: password-repeat-input; }
.reg-table .btn[data-id="1"] { grid-area: register-button; }

.under-reg-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.under-reg-text {
    grid-area: auth-link;

    text-align: center;
    font-family: 'MailSansRoman';
    font-size: var(--font-size-15);
    color: var(--font-color-info);
}

main-reg .logo-path {
    grid-area: logo-path;

    background-image: url(img/background_left.svg); /* Фоновый цвет и фоновый рисунок
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: cover;
    background-position: right;

    display: grid;
    grid-template-areas:
        ". . ."
        ". logo-table ."
        ". . .";

    grid-template-columns: minmax(100px, 25%) minmax(300px, 50%) minmax(100px, 25%);
    grid-template-rows: 31% 25% 59.5%
}

main-reg .logo-table {
    grid-area: logo-table;
    display: grid;

    grid-template-areas:
        ". . ."
        ". logo-text ."
        ". logo-table-text ."
        ". . .";

    grid-template-columns: minmax(50px, 10%) minmax(100px, 80%) minmax(50px, 10%);


    grid-template-rows: minmax(10px, 30%) minmax(40px, 20%) minmax(40px, 30%) minmax(10px, 20%);
    background: var(--background-color-logo-table);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

main-reg .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 9px;

    grid-area: logo-text;
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

main-reg .logo-pic {
    grid-area: logo-pic;

    background-image: url(img/logo.svg); /* Фоновый цвет и фоновый рисунок*/
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: 100%;
    border-radius: 12px;
    background-position: center;
}

main-reg .logo-table-text {
    margin: auto;
    grid-area: logo-table-text;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-select-dark);
}