.profileItem {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 3.6% 55% 16.4%;
    grid-template-rows: 32px 38px 32px 70px 1fr 32px;
    background: var(--background-color-feed);
}

.profile__body {
    grid-column: 3;
    grid-row: 4;
}
