<div class="profileItem background-color-feed" id="profile">
    {{> sideBar sideBarData}}
    <div class="main-column">
        {{> header headerData}}
        <div class="profile__body">
            {{> profileCard profileData}}
            {{> postArea postAreaData}}
        </div>
    </div>
</div>
