<div class="profileItem" id="profile">
    {{> sideBar sideBarData}}
    {{> header headerData}}
    <div class="profile__body">
        {{> profileCard profileData}}
        {{> postArea postAreaData}}
    </div>
</div>
