.settings {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 25%) minmax(max-content, 50%) minmax(200px, 25%);
    grid-template-areas: "sidebar main-column ."
                         "sidebar main-column .";
    grid-template-rows: 6vh 1fr;
    background-repeat: repeat-y;

    grid-column-gap: 38px;
}

.settings__settingsPath {
    grid-area: main;
}
