<div class="settings background-color-feed" id="settings">
    {{> sideBar sideBarData}}
    {{> header headerData}}
    <div class="settings__settingsPath">
        {{> settingsPathGroup settingsPathData}}
    </div>
</div>
