<div class="settings background-color-feed" id="settings">
    {{> sideBar sideBarData}}
    <div class="main-column">
        {{> header headerData}}
        <div class="settings__settingsPath">
            {{> settingsPathGroup settingsPathData}}
        </div>
    </div>
</div>
