<div class="logo-path" style="background-image: url( {{ backgroundImgPath }} )">
    <div class="logo-table background-color-logo-table blur-logo-table border-radius">
        <img class="logo-table__pic" src={{ logoImgPath }}>
        <span class="logo-table__text font-Limelight font-size-28 font-color-logo-color">
            {{ logoText }}
        </span>
        <span class="logo-table__tagline font-Comfortaa font-size-23 font-color-select-dark">
            {{ logoTagline }}
        </span>
    </div>
</div>
