.button-def {
    width: 100%;
    height: max-content;
    border: none;
    cursor: pointer;
}

.button-def:hover {
    background-color: var(--font-color-menu-item-hover);
}

.button-def__text {
    padding: 8px;
    display: inline-grid;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    text-overflow: ellipsis;
}
