.button-def {
    width: 100%;
/* adaptiv */
/*     height: max-content; */

    display: inline-block;
    max-height: 100%;
    height: auto;

    border: none;
    cursor: pointer;
}

.button-def:hover {
    background-color: var(--font-color-menu-item-hover);
}

.button-def__text {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    text-overflow: ellipsis;

    padding: 6px;
}
