.button-def {
    width: 100%;
    min-height: 30px;
    border: none;
    cursor: pointer;
}

.button-def:hover {
    background-color: var(--font-color-menu-item-hover);
}

.button-def__text {
    display: inline-grid;
    justify-content: center;
    align-items: center;
}
