.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 16px;

    height: 96%;
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;  
    width: 100%;
}

.chat__header-icon {
    height: 100%;
}

.chat__header-icon input:nth-child(2) {
    display: none;

}
.chat__header-icon:hover input:nth-child(1) {
    display: none;
}

.chat__header-icon:hover input:nth-child(2) {
    display: inline-block;
}

.chat__header-info {
    align-items: center;
    display: grid;
    grid-template-columns: 35px 8px 1fr;
}

.chat__header-info-text {
    font-family: 'InterMedium';
    font-size: var(--font-size-16);
    color: var(--font-color-post-sender);
    grid-column: 3;
}

.chat__header-image {
    height: 100%;
}

.chat__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: 100%;
    width: 100%; 
    overflow: auto;
}

.chat__body::-webkit-scrollbar { width: 0; } /* чтобы не был виден scrollbar */

.chat__footer {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 16px;
    width: 100%; 
}

.foo {
    display: flex;
    gap: 16px;

    background-color: var(--background-color-feed);

    padding: 10px 10px 0 10px;
    width: 100%;
}

.chat__footer-input {
    min-height: 35px;
    max-height: 200px;

    width: 100%;
    resize: none;
}

.block {
    margin-top: 20px;
    height: 100%;
}

.chat__footer-icon {
    height: 100%;
    cursor: pointer;
}

.chat__footer-icon input:nth-child(2) {
    display: none;

}
.chat__footer-icon:hover input:nth-child(1) {
    display: none;
}

.chat__footer-icon:hover input:nth-child(2) {
    display: inline-block;
}

.chat__photos {
    height: min-content;
}
