.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 16px;

    height: 96%;
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;  
    width: 100%;
}

.chat__header-icon {
    height: 100%;
}

.chat__header-icon input:nth-child(2) {
    display: none;

}
.chat__header-icon:hover input:nth-child(1) {
    display: none;
}

.chat__header-icon:hover input:nth-child(2) {
    display: inline-block;
}

.chat__header-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chat__header-info-text {
    font-family: 'InterMedium';
	font-size: var(--font-size-16);
    color: var(--font-color-post-sender);
}

.chat__header-image {
    width: 16px;
    height: 16px;
}

.chat__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: 100%;
    width: 100%; 
    overflow: auto;
}

.chat__body::-webkit-scrollbar { width: 0; } /* чтобы не был виден scrollbar */

.chat__footer {
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 8px 0px 4px;
    gap: 16px;
    width: 100%; 
}

.chat__footer-input {
    background: transparent;
	border: none;
	font-family: 'InterMedium';
	font-size: var(--font-size-15);
    color: var(--font-color-gray-text);
    background-color: var(--background-color-feed);
	height: 35px;
    width: 100%;
    border-radius: 8px;
    padding: 0px 10px;
    resize: none;
}

.chat__footer-icon {
    height: 100%;
    cursor: pointer;
}

.chat__footer-icon input:nth-child(2) {
    display: none;

}
.chat__footer-icon:hover input:nth-child(1) {
    display: none;
}

.chat__footer-icon:hover input:nth-child(2) {
    display: inline-block;
}

.chat__photos {
    height: min-content;
}
