profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-menu);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0px 20px 20px;
    margin-bottom: 32px;
    min-width: 350.5px;
}

.profileCard__header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 95px;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
    border-radius: 12px 12px 0px 0px;
}

.profileCard__header-button {
    padding: 20px;
}

.profileCard__button {
    display: flex; 
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: var(--font-color-comment-sender);
    color: var(--background-item-hovered);
    text-overflow: ellipsis;
    font-family: InterMedium;
    font-size: var(--font-size-15);
    white-space: nowrap;
    cursor: pointer;
}

.profileCard__button_grey {
    background-color: var(--background-item-hovered);
    color: var(--font-color-gray-text);
}

.profileCard__button:hover {
    background-color: var(--background-color-icon);
}

.profileCard__button_grey:hover {
    background-color: var(--background-color-header);
}

.profileCard__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

.profileCard__info {
    display: grid;
    grid-template-columns: 100px 23px 1fr;
    width: 100%;
}

.profileCard__info-img {
    width: 100px;
    height: 100px;
}

.profileCard__info-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 16px;
    max-width: 400px;
    grid-column: 3;
}

.profileCard__info-text {
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
}
.profileCard__info-text_header {
    color: var(--font-color-post-sender);
    font-family: Montserrat;
    font-size: var(--font-size-23);
}

.profileCard__info-text_little {
    color: var(--font-color-reg-info);
    font-size: var(--font-size-12);
}
