.chat-page {
    min-height: 100vh;
    display: grid;
    /*grid-template-columns: minmax(200px, 25%) minmax(max-content, 50%) minmax(200px, 25%);*/
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "sidebar main-column ."
                         "sidebar main-column .";
    grid-template-rows: 6vh 1fr;
    background-repeat: repeat-y;

    grid-column-gap: 38px;
}

.chat__elem {
    grid-area: main;
    height: 87vh;
}

@media (max-width: 760px) {
    .chat-page {
        /*min-width: 60vh;*/
        grid-template-columns: 50px 1fr;
        grid-column-gap: 20px;
    }
}
