<div class="chat-page background-color-feed" id="chat">
    {{> sideBar sideBarData}}
    <div class="main-column">
        {{> header headerData}}
        <div class="chat__elem">
            {{> chat chatData}}
        </div>
    </div>
</div>
