<div class="messages background-color-feed" id="messages">
    {{> sideBar sideBarData}}
    <div class="main-column">
        {{> header headerData}}
        <!--<div class="messages__search">
        {{> search}}
    </div>-->
        <div class="messages__nav-list">
            {{#if messagesData}}
                {{#each messagesData}}
                    {{> message this}}
                {{/each}}
            {{else}}
                {{> friendNotFound textInfo}}
            {{/if}}
        </div>
    </div>
</div>
