<div class="messages" id="messages">
    {{> sideBar sideBarData}}
    {{> header headerData}}
    <!--<div class="messages__search">
        {{> search}}
    </div>-->
    <div class="messages__nav-list">
      {{#if messagesData}}
        {{#each messagesData}}
          {{> message this}}
        {{/each}}
      {{else}}
        {{> friendNotFound textInfo}}
      {{/if}}
    </div>
</div>
