<main-reg class="main-reg">
    <div class="logo-path" style="background-image: url({{ fonPath }})">
        <div class="logo-table">
            <div class="logo-text">
                <img src={{ picPath }}>
                <span>Depeche</span>
            </div>
            <div class="logo-table-text">Сервис для общения</div>
        </div>
    </div>
    <div class="reg-path">
        <div class="reg-table">
            <div class="reg-title">
                Регистрация
            </div>
            <div class="input-block" data-id="1">
                <input placeholder="Имя" type="text" class="input-field correct-input" id="first-name">
                <div class="error-text" id="first-name-error"></div>
            </div>
            <div class="input-block"  data-id="2">
                <input placeholder="Фамилия" type="text" class="input-field correct-input" id="last-name">
                <div class="error-text" id="last-name-error"></div>
            </div>
            <div class="input-block"  data-id="3">
                <input placeholder="Электронная почта" type="email" class="input-field correct-input"  id="email">
                <div class="error-text" id="reg-email-error"></div>
            </div>
            <div class="input-block"  data-id="4">
                <input placeholder="Пароль" type="password" class="input-field correct-input"  id="password">
                <div class="error-text" id="reg-password-error"></div>
            </div>
            <div class="input-block"  data-id="5">
                <input placeholder="Повторите пароль" type="password" class="input-field correct-input" id="repeat-password">
                <div class="error-text" id="repeat-password-error"></div>
            </div>
            <a class="btn" data-id="1" id="reg-btn">Зарегистрироваться</a>
            <a class="under-reg-text" id="log-btn">У вас уже есть аккаунт? Войти</a>
        </div>
    </div>
</main-reg>
