<main-reg class="main-reg">
    <div class="logo-path" style="background-image: url({{ fonPath }})">
        <div class="logo-table">
            <div class="logo-pic" style="background-image: url({{ picPath }})"></div>
            <div class="logo-text">Depeche</div>
            <div class="logo-table-text">Сервис для общения</div>
        </div>
    </div>
    <div class="reg-path">
        <div class="reg-table1">
            <div class="title">
                Регистрация
            </div>
            <div class="input-block" data-id="1">
                <input placeholder="Имя" type="text" class="input-field correct-input">
                <div class="error-text"></div>
            </div>
            <div class="input-block"  data-id="2">
                <input placeholder="Фамилия" type="text" class="input-field incorrect-input">
                <div class="error-text">Введите фамилию</div>
            </div>
            <div class="input-block"  data-id="3">
                <input placeholder="Электронная почта" type="email" class="input-field correct-input">
                <div class="error-text"></div>
            </div>
            <div class="input-block"  data-id="4">
                <input placeholder="Пароль" type="password" class="input-field correct-input">
                <div class="error-text"></div>
            </div>
            <div class="input-block"  data-id="5">
                <input placeholder="Повторите пароль" type="password" class="input-field correct-input">
                <div class="error-text"></div>
            </div>
            <a class="btn" href="news.html" data-id="1">Зарегистрироваться</a>
            <a class="under-reg-text" href="authorization.html">У вас уже есть аккаунт? Войти</a>
        </div>
    </div>
</main-reg>
