.input-block-settings {
    display: grid;
    /*grid-template-rows: 10px 20px 10px;*/
    /*grid-template-columns: 1fr;*/
    width: 100%;
    /*height: var(--btn-input-height);*/
}
.input-block-settings__field {
    outline:none;
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;

    grid-row: 3;
    grid-column: 1;
    height: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
.input-block-settings__field[type='date'] {
    padding-top: 8px; 
}

.input-block-settings__field-correct {
    border: none;
}

.input-block-settings__field-incorrect {
    border-color: var(--font-color-error, #D5534D);
}

.input-block-settings__error {
    grid-row: 5;
    grid-column: 1;

    font-weight: 400;
}

.input-block-settings__info {
    grid-row: 1;
    grid-column: 1;

    font-weight: 400;
}

.input-field:focus {
    outline: 1px solid var(--font-color-gray-text, #6C6F72);
}
.input-block-settings__field::placeholder {
    font-family: InterMedium, sans-serif;
    color: var(--font-color-gray-text, #6C6F72);
    font-size: var(--font-size-15, 15px);
}
