@import "pages/feed/feed.css";
@import "pages/sign-in/sign-in.css";
@import "pages/sign-up/sign-up.css";

@font-face {
    font-family: Limelight; /* Имя шрифта */
    src: url(static/fonts/Limelight-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterMedium; /* Имя шрифта */
    src: url(static/fonts/Inter-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterRegular; /* Имя шрифта */
    src: url(static/fonts/Inter-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MailSansRoman; /* Имя шрифта */
    src: url(static/fonts/MailSansRoman-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Comfortaa; /* Имя шрифта */
    src: url(static/fonts/Comfortaa-Medium.ttf); /* Путь к файлу со шрифтом */
}

:root {
    --main-border-radius: 12px;

    --feed-content-padding: 18px;

    --profile-img-size: 30px;
    --notification-img-size: 24px;
    --input-widgets-size: 25px;

    --main-margin: 20px;

    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-23: 23px;
    --font-size-28: 28px;

    --font-color-select-dark: #D9D9D9;
    --font-color-gray-text: #6C6F72;
    --font-color-info: #395EBA;
    --font-color-reg-info: #8D949D;
    --font-color-logo-color: #44009D;
    --font-color-error: #D5534D;
    --font-color-btn: #FFFFFF;
    --font-color-title: #000000;
    --font-color-nav: #6C6F72;
    --font-color-nav-hover: #B95DD9;
    --font-color-post-sender: #474852;

    --background-color-main: #FAFAFA;
    --background-color-error: #FFEBEB;
    /*--background-color-input: #F5F5F5;*/
    --background-item-hovered: #F5F5F5;
    --background-color-input: #E9E9E9;
    --background-color-menu: #FFFEFE;
    --background-color-nav-notify: #D9D9D9;
    --background-color-btn: linear-gradient(270deg, #C72FCB -0.18%, #803BB6 37.83%, #510AC2 70.47%, #510AC2 98.59%);
    --background-color-logo-table: rgba(251, 221, 255, 0.4);
}

#root {
    height: 100%;
}
