@font-face {
    font-family: Limelight; /* Имя шрифта */
    src: url(static/fonts/Limelight-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterMedium; /* Имя шрифта */
    src: url(static/fonts/Inter-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterRegular; /* Имя шрифта */
    src: url(static/fonts/Inter-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MailSansRoman; /* Имя шрифта */
    src: url(static/fonts/MailSansRoman-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Comfortaa; /* Имя шрифта */
    src: url(static/fonts/Comfortaa-Medium.ttf); /* Путь к файлу со шрифтом */
}

:root {
    --main-border-radius: 12px;

    --feed-content-padding: 18px;

    --profile-img-size: 30px;
    --notification-img-size: 24px;
    --input-widgets-size: 25px;

    --main-margin: 20px;

    --font-size-12: 12px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-23: 23px;
    --font-size-28: 28px;

    --font-color-select-dark: #D9D9D9;
    --font-color-gray-text: #6C6F72;
    --font-color-info: #395EBA;
    --font-color-reg-info: #8D949D;
    --font-color-logo-color: #44009D;
    --font-color-error: #D5534D;
    --font-color-btn: #FFFFFF;
    --font-color-title: #000000;
    --font-color-nav: #6C6F72;
    --font-color-nav-hover: #B95DD9;
    --font-color-post-sender: #474852;

    --background-color-main: #FAFAFA;
    --background-color-error: #FFEBEB;
    --background-color-input: #F5F5F5;
    --background-item-hovered: #F5F5F5;
    --background-color-input: #E9E9E9;
    --background-color-menu: #FFFEFE;
    --background-color-nav-notify: #D9D9D9;
    --background-color-btn: linear-gradient(270deg, #C72FCB -0.18%, #803BB6 37.83%, #510AC2 70.47%, #510AC2 98.59%);
    --background-color-logo-table: rgba(251, 221, 255, 0.4);
}

#root {
    height: 100%;
}
body {
    margin: 0px;
}

.main {
    display: grid;
    background-color: var(--background-item-hovered);
    grid-template-areas: 
        "menu content ."
        "menu content ."
        "menu content .";

    grid-template-columns: 25% 50% 25%;

    grid-column-gap: 35px;
}

@media all and (max-width: 720px) {
    .main { 
        grid-template-areas: 
            "menu content ."
            "menu content ."
            "menu content .";
 
        grid-template-columns: minmax(50px, 1fr) 80% 10%;
    }
}

.main-content {
    margin-top: 10px;
    display: grid;

    grid-template-areas:
    "header"
    "post_creator"
    "feed";

    grid-template-rows: 50px 50px ;
    grid-row-gap: 10px;
}

.feed {
    padding-bottom: 20px;
    grid-area: feed;

    display: grid;

    grid-template-rows: 1fr;
    grid-row-gap: 20px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "search . notification profile menu";
    grid-template-columns: 2fr 1fr 40px 40px 20px;

    grid-template-rows: 1fr;
}

.header > div {
    margin-top: auto;
    margin-bottom: auto;

    padding-left: auto;
    padding-right: auto;
}

.search-area-wrap {
    grid-area: search;
    border-radius: var(--main-border-radius);
}

.search-area {
    background-color: var(--background-color-input);
    border-radius: var(--main-border-radius);
    box-shadow: inset 0 4px 8px rgb(0 0 0 / 4%);

    display: grid;

    grid-template-columns: 30px 1fr;
}

.search-area-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-input {
    margin-right: 10px;
    background: transparent;
    border: none;
    font-family: 'InterMedium';
    font-size: var(--font-size-12);
    color: var(--font-color-gray-text);
    height: 30px;
}

.notification-icon {
    grid-area: notification;
}

.notification-icon {
    margin: auto;
}

.notification-icon img {
    height: var(--notification-img-size);
}

.profile-icon {
    grid-area: profile;
    margin: auto;
}

.profile-icon img {
    height: var(--profile-img-size);
}

.profile-menu-icon {
    grid-area: menu;
}


.post-creator {
    border-radius: var(--main-border-radius);
    grid-area: post_creator;
    padding-left: var(--feed-content-padding);
    padding-right: var(--feed-content-padding);
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 2fr 16fr 2fr 1fr;
    grid-column-gap: 4px;
}

.post-creator-element {
    display: flex;
    align-items: center;
    justify-content: center;
}


.photo-input, .emoji-input {
    cursor: pointer;
}

.post-creator-profile{
    display: flex;
    align-items: center;
}

.post-creator-profile img {
    height: var(--profile-img-size);
}
.post-creator-element img:nth-child(2) {
    display: none;
}

.post-creator-element:hover img:nth-child(1) {
    display: none;
}

.post-creator-element:hover img:nth-child(2) {
    display: inline-block;
}

.post-input input {
    font-family: InterRegular;
    font-size: 15px;
    color: var(--font-color-reg-info);

    width: 100%;
    border: none;
    background: transparent;
}

.post-input input:focus {
    outline: none;
}

.side-bar {
    padding-top: var(--main-margin);
    padding-right: 15px;
    grid-area: menu;
    background-color: var(--background-color-menu);

    display: grid;
    grid-template-areas: 
    ". logo"
    ". navigation";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px ;
}


.logo-block {
    grid-area: logo;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 5px;
}

@media all and (max-width: 720px) {
    .side-bar {
        padding-top: 12px;
        padding-right: 0px;
        grid-area: menu;
        background-color: var(--background-color-menu);

        display: grid;
        grid-template-areas: 
        "logo"
        "navigation";

        grid-template-columns: 1fr;
        grid-template-rows: 50px ;
    }

    .logo-block {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: logo;
    }

    .nav-list {
        display: flex;
        justify-content: center;
    }

    .logo-text {
        display: none;
    }
}

.logo-text {
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

.nav-list {
    grid-area: navigation;
}

.nav-list ol {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.nav-list a {
    text-decoration: none;
}


.nav-item {
    height: 30px;

    padding-left: 8px;
    padding-right: 8px;

    list-style-type: none; /* Убираем маркеры */

    border-radius: 8px;

    margin-bottom: 8px;

    display:  grid;

    grid-template-columns: 1fr 70% 1fr;
    grid-column-gap: 5px;

    color: var(--font-color-nav);

    font-size: var(--font-size-12);

}

@media all and (max-width: 720px) {
    .nav-item {
        display: flex;
        justify-content: center;

        border-radius: var(--main-border-radius);

        margin-bottom: 8px;

        color: var(--font-color-nav);

        font-size: var(--font-size-12);*/

    }

    .nav-item-text, .nav-item-notify {
        display: none;
    }
}

.nav-item img {
    height: var(--font-size-15);
}

.nav-item * {
    font-family: "MailSansRoman";
}


.nav-item:hover {
    color: var(--font-color-nav-hover);
    background-color: var(--background-item-hovered);
}

.nav-item img:nth-child(2) {
    display: none;
}

.nav-item:hover img:nth-child(1) {
    display: none;
}

.nav-item:hover img:nth-child(2) {
    display: inline-block;
}

.nav-item-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-text {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-notify {
    margin-top: auto;
    margin-bottom: auto;

    height: 50%;
    border-radius: 80%;
    background-color: var(--background-color-nav-notify);
}

.nav-item-notify p {
    margin:  0px;
    text-align: center;
}



.post {
    font-family: "MailSansRoman";
    font-size: var(--font-size-12);
    color: var(--font-color-post-sender);

    padding: var(--feed-content-padding);

    border-radius: var(--main-border-radius);

    background-color: var(--background-color-menu);

    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 15px;

}

.post-head {
    display: grid;

    grid-template-areas:
    "icon name edit-area"
    "icon date edit-area";

    grid-template-rows: 50% 50%;
    grid-template-columns: 30px 80% 10%;

    grid-column-gap: 8px;
}

.post-body {
    word-wrap: break-word;
    line-height: 18px;
}

.post-author-image {
    grid-area: icon;
}

.post-author-image img {
    height: var(--profile-img-size);
}

.post-author-name {
    grid-area: name;
}

.post-date {
    grid-area: date;
}

.post-edit {
    grid-area: edit-area;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.post-bottom {
    display: grid;

    grid-template-columns: 50px 50px 30px 10fr;
    grid-column-gap: 5px;
}

.post-bottom button {
    height: 25px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: var(--main-border-radius);
    background-color: var(--background-color-menu);
    border: 1px solid var(--background-color-nav-notify);
}


.post-bottom span {
    font-size: var(--font-size-12);
    color: var(--font-color-nav);
}


.post-bottom button:hover {
    background-color: var(--background-color-input);
    cursor: pointer;
}

.post-bottom button img {
    height: 20px;
    display: block;
}

.post-bottom button > div {
    margin-left: 0px;
/*  padding-right: 2px;*/
}


.post-like-number {
    margin: auto;

}

.post-comments-number {
    margin: auto;
}

.post-bookmark-icon {
    display: block;
    padding: auto;
}


.post-like-icon img:nth-child(2) {
    display: none;
}

.post-bookmark-icon img:nth-child(2) {
    display: none;
}



.post-comments-section {
    display: grid;

    grid-template-rows: 1fr;
    grid-row-gap: 10px;
}

.comments-list {
    padding-top: 5px;
    display: grid;

    grid-template-rows: 1fr;

    grid-row-gap: 10px;
}


.comment {
    display: grid;

    grid-template-areas: 
    "photo name date"
    "photo body edit";


    grid-template-rows: 30px 1fr;
    grid-template-columns: 30px 6fr 60px;

    grid-column-gap: 7px;
}

.commentators-photo {
    grid-area: photo;
}

.commentators-photo img {
    height: var(--profile-img-size);
}

.commentators-name {
    grid-area: name;
}

.comment-body {
    grid-area: body;
}

.comment-date {
    grid-area: date;
    margin: auto;
    text-align: center;
}

.comment-edit-block {
    grid-area: edit;
}

.create-comment-section {
    display: grid;

    grid-template-columns: 40px 12fr 5% 5% 1fr;
    grid-column-gap: 8px;

}


.comment-input-block {
    display: flex;
    align-items: center;
}



.comment-input-block input:focus, .search-area input:focus {
    outline: none;
}

.create-comment-section > div {
    display: flex;

    align-items: center;
}

.attach-photo-icon, .choose-emoji-icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.attach-photo-icon img, .choose-emoji-icon img {
    height: var(--input-widgets-size);
    width: var(--input-widgets-size);
}


.comment-input-block input {
    background-color: var(--background-color-input);

    border-radius: var(--main-border-radius);
    border: none;

    text-indent: 5px;

    font-family: 'InterMedium';
    font-size: var(--font-size-12);
    color: var(--font-color-gray-text);
    width: 100%;
    height: 28px;
}

.comment-input-block input::placeholder {
    font-family: InterMedium;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-12);
}


.attach-photo-icon img:nth-child(2) {
    display: none;
}

.attach-photo-icon:hover img:nth-child(1) {
    display: none;
}

.attach-photo-icon:hover img:nth-child(2) {
    display: inline-block;
}

.choose-emoji-icon img:nth-child(2) {
    display: none;
}

.choose-emoji-icon:hover img:nth-child(1) {
    display: none;
}

.choose-emoji-icon:hover img:nth-child(2) {
    display: inline-block;
}

