.friend {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    /*width: auto;*/
    /*min-width: 110px;*/

    padding: 14px 20px;
    background-color: var(--background-color-menu);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;

    display: grid;
    grid-template-areas: "user_info . buttons"
                         "user_info . .";

    grid-template-columns: 1fr 10px max-content;
    grid-template-rows: max-content 1fr;


    /*убрать по возможности, пожалуйста...*/
    overflow: hidden;
}

.friend:hover .friend__name{
    color: var(--font-color-post-sender);
}
.friend__avatar {
    width: 80px;
    height: 80px;
}

.friend__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
    gap: 10px;
    grid-column: 3;
}

.friend__info {
    grid-area: user_info;
    align-items: center;
    display: grid;
    grid-template-columns: 80px 8px minmax(100px, 1fr);
    cursor: pointer;
}

.friend__name {
    color: var(--font-color-nav);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: bolder;
    font-family: MailSansRoman;
    font-size: var(--font-size-19);
}

.friend__status {
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
    font-family: InterMedium;
}

.friend__img {
    display: flex;
    padding: 16px 10px;
    gap: 10px;
    top: -10px;
    position: relative;
    cursor: pointer;
}

.friend__button-text__icon {
    display: none;
}

.friends-buttons__wrapper {
    grid-area: buttons;
}

.friend__button {
    text-align: center;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
}

.friend__button-two {
    width: 100%;
}


.friend__button_grey {
    background-color: var(--background-item-hovered);
    color: var(--font-color-gray-text);
    text-overflow: ellipsis;
    font-weight: bolder;
    font-family: InterMedium;
    font-size: var(--font-size-15);
}

.friend__button_grey:hover {
    background-color: var(--background-color-icon);
    color: var(--font-color-btn);
}

.friend:has(.friend__button_grey:hover) .friend__name{
    color: var(--font-color-nav);
}

.friend__button_white {
    color: var(--font-color-gray-text);
    text-overflow: ellipsis;
    font-weight: bolder;
    font-family: InterMedium;
    font-size: var(--font-size-15);
}

.friend__button_white:hover {
    background-color: var(--background-item-hovered);
}

.friend:has(.friend__button_white:hover) .friend__name{
    color: var(--font-color-nav);
}

.friend-menu {
    display: flex;
    flex-direction: column;
    padding: 12px;
    display: none;
}

.friend__img:hover + .friend-menu {
    display: grid;
}

.friend__img:active + .friend-menu {
    display: grid;
}

.friend:has(.friend__img:hover) .friend__name{
    color: var(--font-color-nav);
}

.friend-menu:hover {
    display: grid;
}

.friend:has(.friend-menu:hover) .friend__name{
    color: var(--font-color-nav);
}

.friend-menu-item {
    cursor: pointer;
    white-space: nowrap;
    width: 89%;
    text-align: center;
    padding: 4px 8px;
}

.friend-menu-position {
    position: absolute;
    bottom: 0;
    right: 0;
}

.friend__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

@media screen and (max-width: 560px) {
    .friend__button-text {
        display: none;
    }

    .friend__button-text__icon {
        display: block;
    }

    .friend__button {
        padding: 4px 6px;
    }
}