.comments-area {
    display: grid;
    grid-gap: 10px;
}
.comments-list {
    display: grid;
    grid-gap: 16px;
}
.create-comment {
    display: grid;
    grid-template-columns: 35px 0px 12fr auto auto 0px auto;
    grid-column-gap: 8px;
}
.create-comment__input {
    outline:none;
    grid-column: 3;
    padding: 0px 10px;
}

.show-more-block__text {
    color: var(--font-color-show-more);
    cursor: pointer;
}

.show-more-block {
    margin: auto;
}