<div class="comments-area">
    <div class="comments-list">
        {{#each comments }}
            {{> comment this }}
        {{/each}}
    </div>

    <div class="create-comment">
        <img class="create-comment__avatar profile-img-size avatar-form" src={{ avatar }}>
        <input class="create-comment__input border-radius-btn-input background-item-hovered border-none font-InterMedium font-size-15 font-color-gray-text" placeholder="Написать комментарий">

        <div class="hover-pic margin-auto" style="cursor: pointer;">
            <img class="margin-auto" src="static/img/post_icons/photo.svg">
            <img class="margin-auto" src="static/img/post_icons/photo_hover.svg">
        </div>

        <div class="hover-pic margin-auto" style="cursor: pointer;">
            <img class="margin-auto" src="static/img/post_icons/smile.svg">
            <img class="margin-auto" src="static/img/post_icons/smile_hover.svg">
        </div>

        <img class="create-comment__send-icon margin-auto" style="cursor: pointer;" src="static/img/post_icons/send.svg">
    </div>
</div>
