.group {
    min-height: 100vh;
    display: grid;
    /*grid-template-columns: minmax(200px, 25%) minmax(max-content, 50%) minmax(200px, 25%);*/
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "sidebar main-column ."
                         "sidebar main-column .";
    grid-template-rows: 6vh 1fr;
    background-repeat: repeat-y;

    grid-column-gap: 38px;
}

.group__body {
    grid-area: main;

    display: grid;
    grid-template-columns: 66% 6% 28%;

    grid-template-areas: "group-card group-card group-card"
                         "feed . group-management";
}


.group__card {
    grid-area: group-card;
}

.group__posts {
    grid-area: feed;
}


.group__info_text {
    word-break: break-word;
}
.group_right {
    grid-area: group-management;
}

.group__info {
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    height: min-content;
    margin-bottom: 16px;

    gap: 10px;
}

.group__info_more {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.group__info_more:hover {
    background-color: var(--background-color-feed);
}


@media (max-width: 760px) {
    .group {
        /*min-width: 60vh;*/
        grid-template-columns: 50px 1fr;
        grid-column-gap: 20px;
    }

    .group__body {
        grid-template-columns: 66% 6% 28%;

        grid-template-areas: "group-card group-card group-card"
                             "group-management group-management group-management"
                             "feed feed feed";
    }

    .group__info {
        gap: 10px;
    }

    .group__info_more {

        gap: 5px;
    }
}