.group {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 3.6% 55% 16.4%;
    grid-template-rows: 32px 38px 32px 1fr 32px 1fr;
}

.group__body {
    grid-column: 3;
    grid-row: 4;

    display: grid;
    grid-template-columns: 66% 6% 28%;
    grid-template-rows: auto 0 1fr;
    min-width: 390.5px;
}

.group__card {
    grid-column: 1/4;
}

.group__posts {
    grid-column: 1;
    grid-row: 3;
}

.group__info_text {
    word-break: break-word;
}
.group_right {
    grid-column: 3;
}

.group__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    height: min-content;
    margin-bottom: 16px;
}

.group__info_more {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.group__info_more:hover {
    background-color: var(--background-color-feed);
}
