.group {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 3.6% 55% 16.4%;
    grid-template-rows: 32px 38px 32px 1fr 32px;
    background-color: var(--background-color-feed);
    background-repeat: repeat;
}

.group__body {
    grid-column: 3;
    grid-row: 4;

    display: grid;
    grid-template-columns: 66% 8% 26%;
    min-width: 390.5px;
}

.group__card {
    grid-column: 1/4;
}

.group__posts {
    grid-column: 1;
}

.group__info {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
}
