<div class="edit-post-page background-color-feed" id="edit-post-page">
    {{> sideBar sideBarData}}
    {{> header headerData}}
    <div class="edit-post-page__post-area">
        {{> editPost editPostData }}
    </div>
</div>
