.side-bar {
    padding-top: var(--main-margin);
    padding-right: 15px;
    grid-area: menu;
    background-color: var(--background-color-menu);

    display: grid;
    grid-template-areas:
	". logo"
	". navigation";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px ;
}


@media all and (max-width: 720px) {
    .side-bar {
        padding-top: 20px;
        padding-right: 15px;
        grid-area: menu;
        background-color: var(--background-color-menu);

        display: grid;
        grid-template-areas:
		"logo"
		"navigation";

        grid-template-columns: 1fr;
        grid-template-rows: 50px ;
    }
}


.logo-block {
    grid-area: logo;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 5px;
}

@media all and (max-width: 720px) {
    .logo-block {
        grid-area: logo;
    }

    .logo-text {
        display: none;
    }
}


.logo-text {
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}


.nav-list {
    grid-area: navigation;
}

.nav-list ol {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.nav-list a {
    text-decoration: none;
}


.nav-item {
    height: 30px;

    padding-left: 8px;
    padding-right: 8px;

    list-style-type: none; /* Убираем маркеры */

    border-radius: 8px;

    margin-bottom: 8px;

    display:  grid;

    grid-template-columns: 1fr 70% 1fr;
    grid-column-gap: 5px;

    color: var(--font-color-nav);

    font-size: var(--font-size-12);

}

@media all and (max-width: 720px) {
    .nav-item {
        height: 30px;

        padding-left: 8px;
        padding-right: 8px;

        list-style-type: none; /* Убираем маркеры */

        border-radius: 8px;

        margin-bottom: 8px;

        color: var(--font-color-nav);

        font-size: var(--font-size-12);

    }

    .nav-item-text, .nav-item-notify {
        display: none;
    }
}

.nav-item img {
    height: var(--font-size-15);
}

.nav-item * {
    font-family: "MailSansRoman";
}


.nav-item:hover {
    color: var(--font-color-nav-hover);
    background-color: var(--background-item-hovered);
}

.nav-item img:nth-child(2) {
    display: none;
}

.nav-item:hover img:nth-child(1) {
    display: none;
}

.nav-item:hover img:nth-child(2) {
    display: inline-block;
}

.nav-item-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-text {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-notify {
    margin-top: auto;
    margin-bottom: auto;

    height: 50%;
    border-radius: 80%;
    background-color: var(--background-color-nav-notify);
}

.nav-item-notify p {
    margin:  0px;
    text-align: center;
}