<div class="side-bar">
    <div class="logo-block">
        <img class="logo-block__pic" src={{ logoImgPath }}>
        <span class="logo-block__text font-Limelight font-size-28 font-color-logo-color">
            {{ logoText }}
        </span>
    </div>


    <div class="menu">
        {{#each menuItemList}}
            {{> menuItem this}}
        {{/each}}
    </div>

</div>
