.side-bar {
    position: fixed;
    display: grid;
    grid-template-rows: 31px 35px 35px 1fr;
    grid-template-columns: 1fr 1fr 14px;
}
.logo-block {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    cursor: pointer;

    grid-template-columns: 8px 35px 8px 132px 8px;
}
.logo-block__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    grid-column: 2;
}
.logo-block__text {
    display: inline-grid;
    align-items: center;

    grid-column: 4;
}
.menu {
    grid-row: 4;
    grid-column: 2;
}




.side-bar-size {
    width: 25%;
    height: 100%;
}
.logo-block-size {
    width: 43%;
}
