.side-bar-wrapper {
    grid-area: sidebar;
}

.side-bar {
    margin-top: 15px;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 35px 35px 1fr;
    grid-template-columns: 1fr;
}

.side-bar > div {
    margin-left: auto;
}

.logo-block {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    cursor: pointer;
    grid-template-areas: "logo-icon logo-title";
    grid-template-columns: 35px 132px;
    grid-column-gap: 8px;

    margin-right: var(--sidebar-margin);
    margin-top: 15px;
}
.logo-block__pic {
    object-fit: cover;
    overflow: hidden;

    grid-area: logo-icon;
}
.logo-block__text {
    display: inline-grid;
    align-items: center;

    grid-area: logo-title;
}
.menu {
    grid-row: 3;
    grid-column: 1;

    margin-right: var(--sidebar-margin);
}


.side-bar-size {
    height: 100vh;
}

@media (max-width: 760px) {
    .logo-block {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        cursor: pointer;

        grid-template-columns: 35px;

        grid-column-gap: 0px;
    }

    .logo-block__text {
        display: none;
    }
}



