.logo-path {
    grid-area: logo-path;

    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: cover;

    display: grid;
    grid-template: 34.53% 18.85% 46.62% / 23.8% 52.4% 23.8%;
    grid-template-areas:
        ". . ."
        ". logo-table .";
}

.logo-table {
    grid-area: logo-table;
    display: grid;
    grid-template: 25% 6.92% 15.16% 6.92% 9% 12% 25% / 25% 11% 2% 35% 27%;
    grid-template-areas:
        ". . . . ."
        ". logo-pic . . ."
        ". logo-pic . logo-text ."
        ". logo-pic . . ."
        ". . . . ."
        "logo-table-text logo-table-text logo-table-text logo-table-text logo-table-text"
        ". . . . .";

    background: var(--background-color-logo-table);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.logo-text {
    grid-area: logo-text;
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

.logo-pic {
    grid-area: logo-pic;

    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: 100%;
    border-radius: 12px;
    background-position: center;
}

.logo-table-text {
    grid-area: logo-table-text;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-select-dark);
}
