<div class="logo-path" style="background-image: url( {{ fonPath }} )">
    <div class="logo-table">
        <div class="logo-pic" style="background-image: url( {{ logoPath }} )"></div>
        <div class="logo-text">Depeche</div>
        <div class="logo-table-text">Сервис для общения</div>
    </div>
</div>