<main class="authorization">
        <div class="auth-path">
            <div class="auth-table">
                <div class="title">
                    Авторизация
                </div>
                <div class="input-block" data-id="1">
                    <input placeholder="Электронная почта" type="email" class="input-field correct-input">
                    <div class="error-text"></div>
                </div>
                <div class="input-block"  data-id="2">
                    <input placeholder="Пароль" type="password" class="input-field incorrect-input">
                    <div class="error-text">Введите пароль</div>
                </div>
                <a class="btn" href="news.html" data-id="1">Войти</a>
            </div>
            <div class="reg-table">
                <div class="reg">
                    <a class="create-new-account" href="registration.html">У вас еще нет аккаунта? Зарегистрироваться</a>
                    <div class="text-reg">
                        После успешной регистрации вы получите доступ ко всем функциям Depeche
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-path">
            <div class="logo-table">
                <div class="logo-pic"></div>
                <div class="logo-text">Depeche</div>
                <div class="logo-table-text">Сервис для общения</div>
            </div>
        </div>
    </main>