<div class="chatItem" id="{{ id }}">
    <div class="chatItem__info">
        <img src="{{ friendPhoto }}" class="chatItem__img">
        <div class="chatItem__text">{{ text_content }}</div>
    </div>
    <div class="chatItem__text chatItem__text_little">{{ creation_date }}</div>
</div>
