<div class="chatItem" id="{{id}}">
    <div class="chatItem__info">
        <img src="{{friendPhoto}}" class="chatItem__img">
        <div class="chatItem__text">{{text}}</div>
    </div>
    <div class="chatItem__text chatItem__text_little">{{time}}</div>
</div>
