<div class="groups background-color-feed" id="groups">
    {{> sideBar sideBarData}}
    <div class="main-column">
        {{> header headerData}}

        <div class="groups__info">
            <div class="groups__nav-list">
                {{#if groupsData}}
                    {{#each groupsData}}
                        {{> groupItem this}}
                    {{/each}}
                {{else}}
                    {{> friendNotFound textInfo}}
                {{/if}}
            </div>
            <div class="groups__nav">
                <div class="menu-groups border-radius-btn-input background-color-profile-menu box-shadow-create-post">
                    {{#each groupsPathData.menuInfo}}
                        <div class="menu-settings-item hover-block border-radius-btn-input" style="cursor: pointer;" id="{{ this.jsId }}">
                            <span class="font-size-15 font-InterMedium"> {{ this.text }} </span>
                        </div>
                    {{/each}}
                </div>
                <div class="groups__button">
                    {{> buttonDefault groupsPathData.buttonInfo}}
                </div>
                {{> newGroup newGroupData}}
            </div>
        </div>
    </div>
</div>
