.edit-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 16px 20px;
    gap: 8px;
}

.edit-post__body {
    width: 100%;
    display: grid;
    grid-template-columns: 35px 8px 1fr;
}

.edit-post__body-text {
    background: transparent;
	border: none;
    width: 100%;
    padding: 0px 10px;
    resize: none;
    max-height: 400px;
    grid-column: 3;
}

.edit-post__options {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 8px 0px 0px;
    gap: 16px;
}

.edit-post__options-button {
    width: 133px;
    height: 31px;
}
.post-media-create {
    display: flex;
    flex-wrap: wrap;
}
.post-media-create__img {
    flex-grow: 1;
    flex-basis: 0;
    margin: 4px;
    height: 150px;
    width: 150px;

    object-fit: cover;
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
}
.close-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    position: relative;
    right: 30px;
    top: 12px;

    width: 20px;
    height: 20px;

    /* colorSelect */

    background: #FBDDFF;
    border-radius: 30px;

    color: #9747FF;
}
