.edit-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 16px 20px;
    gap: 8px;
}

.edit-post__body {
    width: 100%;
    display: grid;
    grid-template-columns: 35px 8px 1fr;
}

.edit-post__body-text {
    background: transparent;
	border: none;
    width: 100%;
    padding: 0px 10px;
    resize: none;
    max-height: 400px;
    grid-column: 3;
}

.edit-post__options {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 8px 0px 0px;
    gap: 16px;
}

.edit-post__options-button {
    width: 133px;
    height: 31px;
}
.post-media-create {
    display: flex;
    flex-wrap: wrap;
}
.post-media-create__img {
    flex-grow: 1;
    flex-basis: 0;
    margin: 4px;
    height: 150px;
    width: 150px;

    object-fit: cover;
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
}
.files {
    display: flex;
}
.file-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg-media-create {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.msg-media-create__img-container {
    width: 150px; /* Фиксированная ширина контейнера */
    height: 150px; /* Фиксированная высота контейнера */
    overflow: hidden; /* Обрезание содержимого */
}
.msg-media-create__img {
    width: 100%; /* 100% ширина изображения внутри контейнера */
    height: 100%; /* 100% высота изображения внутри контейнера */
    object-fit: cover; /* Масштабирование с обрезкой */
    object-position: center; /* Позиционирование в центре */
}
.msg-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.close-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    position: relative;
    right: 30px;
    top: 12px;

    width: 20px;
    height: 20px;

    /* colorSelect */

    background: #FBDDFF;
    border-radius: 30px;

    color: #9747FF;
}

.editPost__button_grey {
    background-color: var(--background-item-hovered);
    color: var(--font-color-gray-text);
    width: 133px;
    height: 31px;
    align-items: center;
    justify-content: center;
}

.editPost__button_grey:hover {
    background-color: var(--background-color-header);
}

.delete-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    position: relative;
    left: 3px;
    top: 13px;

    width: 20px;
    height: 20px;

    /* colorSelect */

    background: #FBDDFF;
    border-radius: 30px;

    color: #9747FF;
}
