.signIn-path {
    height: 100%;

    display: grid;
    grid-template-columns: 13.3% 1fr 13.3%;
    grid-template-rows: 21.2% 1fr 26.9%;
}
.signIn-table {
    grid-area: 2 / 2;
    display: grid;
    grid-template-rows: 55px 23px 32px 1fr;
    grid-template-columns: 1fr 280px 1fr;
}
.signIn-table__title {
    display: inline-grid;
    align-items: center;
    text-align: center;

    grid-row: 2;
    grid-column: 1/4;
}
.input-table {
    grid-row: 4;

    display: grid;
    grid-template-rows: 53px 53px 40px 40px 40px;
    grid-row-gap: 16px;
    grid-column: 2;
}
.input-table__error-info {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.input-table__link {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.input-table__link-info {
    display: inline-grid;
    align-items: center;
    text-align: center;
}
