.feed {
    height: 100%;
    display: grid;
    grid-template-columns: 427px 52px 1fr 206px;
    grid-template-rows: 32px 38px 32px 1fr 32px;
    background: var(--background-color-feed);
}
.feed__post-area {
    grid-column: 3;
    grid-row: 4;
}
