.feed {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 3.6% 55% 16.4%;
    grid-template-rows: 32px 38px 32px 1fr 32px;
    background-repeat: repeat-y;
}

.feed__post-area {
    grid-column: 3;
    grid-row: 4;
}
