<div class="feed background-color-feed" id="feed">
    {{> sideBar sideBarData}}
    <div class="main-column">
        {{> header headerData}}
        <div class="feed__post-area">
            {{> postArea postAreaData }}
        </div>
    </div>
</div>
