.input-block {
    grid-area: input-block;
    display: grid;
    grid-template: 70% 2% 28%/ 100%;
    grid-template-areas:
        "input-field"
        "."
        "error-text";
}

.input-field:focus {
    outline: 1px solid var(--font-color-gray-text);
}

.input-field {
    grid-area: input-field;

    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    text-indent: 5px;
    font-family: 'InterMedium';
    font-size: var(--font-size-15);
    color: var(--font-color-gray-text);
}

.input-field::placeholder {
    font-family: InterMedium;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
}

.correct-input {
    border: none;
    background: var(--background-color-input);
}

.incorrect-input {
    border: 1px solid var(--font-color-error);
    background: var(--background-color-error);
}

.error-text {
    grid-area: error-text;

    font-family: 'InterRegular';
    font-weight: 400;
    font-size: var(--font-size-12);
    color: var(--font-color-error);
}

.auth-table .btn:hover {
    cursor: pointer;
} 

.auth-table .btn {
    grid-area: btn;

    height: 100%;
    width: 100%;
    color: var(--font-color-btn);
    background: var(--background-color-btn);
    font-size: var(--font-size-16);
    font-family: 'MailSansRoman';
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

body, html {
    margin: 0;
    height: 100%;
}

main-auth {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "auth-path logo-path";
}


@media all and (max-width: 700px) {
    main-auth {
    height: 100%;
    display: grid;

    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
        ". auth-path .";
    }

    .logo-path {
        display: none !important; 
    }


    .auth-path {
        grid-area: auth-path;

        display: grid;
        grid-template-areas:
            ". . ."
            ". auth-table ."
            ". reg-link .";

        grid-template-columns: 10% 80% 10% !important;
        grid-template-rows: minmax(50px, 25%) minmax(300px, 35%) minmax(50px, 40%) !important;
    }
}


.auth-path {
    grid-area: auth-path;

    display: grid;
    grid-template-areas:
        ". . ."
        ". auth-table ."
        ". reg-link .";

    grid-template-columns: 27.5% 45% 27.5%;
    grid-template-rows: minmax(50px, 25%) minmax(300px, 35%) minmax(50px, 40%);
}

.auth-table {
    grid-area: auth-table;
    display: grid;
    grid-template-areas: 
    "auth-title"
    "email-input"
    "password-input"
    "input-button";

    grid-template-rows: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(40px, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

main-auth .title {
    grid-area: auth-title;
    margin: auto;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-title);
}

.input-block[data-id="6"] {
    grid-area: email-input;
}

.input-block[data-id="7"] {
    grid-area: password-input;
 }

.auth-table .btn[data-id="2"] {
    grid-area: input-button;
    height: 80%;
}

.reg-link {
    grid-area: reg-link;

    display: grid;
    grid-template-areas:
        ". reg .";
}

.reg {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;


}

.create-new-account:hover {
    cursor: pointer;
    text-decoration: underline;
}

.create-new-account {
    grid-area: create-new-account;

    text-align: center;
    font-family: 'MailSansRoman';
    font-size: var(--font-size-16);
    color: var(--font-color-info);
}

.text-reg {
    grid-area: text-reg;

    font-family: 'InterMedium';
    font-size: var(--font-size-15);
    color: var(--font-color-reg-info);
    text-align: center;
}

.logo-path {
    grid-area: logo-path;

    background-image: url(img/background_right.svg); 
    background-repeat: no-repeat repeat;
    background-size: cover;

    display: grid;
    grid-template-areas:
        ". . ."
        ". logo-table ."
        ". . .";

    grid-template-columns: minmax(100px, 25%) minmax(300px, 50%) minmax(100px, 25%);
    grid-template-rows: 31% 25% 59.5%
}

/*.logo-table {
    grid-area: logo-table;
    display: grid;

    grid-template-areas:
        ". . ."
        ". logo-text ."
        ". logo-table-text ."
        ". . .";

    grid-template-columns: minmax(50px, 10%) minmax(100px, 80%) minmax(50px, 10%);


    grid-template-rows: minmax(10px, 30%) minmax(40px, 20%) minmax(40px, 30%) minmax(10px, 20%);
    background: var(--background-color-logo-table);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 9px;

    grid-area: logo-text;
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

.logo-table-text {
    margin: auto;
    grid-area: logo-table-text;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-select-dark);
}
*/