@font-face {
    font-family: Limelight; /* Имя шрифта */
    src: url(fonts/Limelight-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterMedium; /* Имя шрифта */
    src: url(fonts/Inter-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterRegular; /* Имя шрифта */
    src: url(fonts/Inter-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MailSansRoman; /* Имя шрифта */
    src: url(fonts/MailSansRoman-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Comfortaa; /* Имя шрифта */
    src: url(fonts/Comfortaa-Medium.ttf); /* Путь к файлу со шрифтом */
}

:root {
    --font-size-12: 12px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-23: 23px;
    --font-size-28: 28px;

    --font-color-select-dark: #D9D9D9;
    --font-color-gray-text: #6C6F72;
    --font-color-info: #395EBA;
    --font-color-reg-info: #8D949D;
    --font-color-logo-color: #44009D;
    --font-color-error: #D5534D;
    --font-color-btn: #FFFFFF;
    --font-color-title: #000000;

    --background-color-main: #FAFAFA;
    --background-color-error: #FFEBEB;
    --background-color-input: #F5F5F5;
    --background-color-btn: linear-gradient(270deg, #C72FCB -0.18%, #803BB6 37.83%, #510AC2 70.47%, #510AC2 98.59%);
    --background-color-logo-table: rgba(251, 221, 255, 0.4);
}

.input-block {
    grid-area: input-block;
    display: grid;
    grid-template: 70% 2% 28%/ 100%;
    grid-template-areas:
        "input-field"
        "."
        "error-text";
}

.input-field {
    grid-area: input-field;

    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 8px;
    text-indent: 5px;
    font-family: 'InterMedium';
    font-size: var(--font-size-15);
    color: var(--font-color-gray-text);
}

.input-field::placeholder {
    font-family: InterMedium;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
}

.correct-input {
    border: none;
    background: var(--background-color-input);
}

.incorrect-input {
    border: 1px solid var(--font-color-error);
    background: var(--background-color-error);
}

.error-text {
    grid-area: error-text;

    font-family: 'InterRegular';
    font-weight: 400;
    font-size: var(--font-size-12);
    color: var(--font-color-error);
}

.btn {
    grid-area: btn;

    height: 100%;
    width: 100%;
    color: var(--font-color-btn);
    background: var(--background-color-btn);
    font-size: var(--font-size-16);
    font-family: 'MailSansRoman';
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

body, html {
    margin: 0;
    height: 100%;
}

.main {
    height: 100%;
    display: grid;
    grid-template: 100% / 48.715% 51.285%;
    grid-template-areas:
        "auth-path logo-path";
}

.auth-path {
    grid-area: auth-path;

    display: grid;
    grid-template: 21% 35% 44%/ 15% 70% 15%;
    grid-template-areas:
        ". . ."
        ". auth-table ."
        ". reg-table .";
}

.auth-table {
    grid-area: auth-table;
    display: grid;
    grid-template: 15% 7% 5% 16% 5% 16% 10% 13% 13%/ 24% 52% 24%;
}

.title {
    grid-area: 2 / 2;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-title);
}

.input-block[data-id="1"] { grid-area: 4 / 2; }
.input-block[data-id="2"] { grid-area: 6 / 2; }
.btn[data-id="1"] { grid-area: 8 / 2; }

.reg-table {
    grid-area: reg-table;

    display: grid;
    grid-template: 47% 53%/ 12.5% 75% 12.5%;
    grid-template-areas:
        ". reg ."
        ". . .";
}

.reg {
    grid-area: reg;

    display: grid;
    grid-template: 21% 23% 9% 26% 21%/ 15.5% 69% 15.5%;
    grid-template-areas:
        ". . ."
        ". create-new-account ."
        ". . ."
        ". text-reg ."
        ". . .";
}

.create-new-account {
    grid-area: create-new-account;

    text-align: center;
    font-family: 'MailSansRoman';
    font-size: var(--font-size-16);
    color: var(--font-color-info);
}

.text-reg {
    grid-area: text-reg;

    font-family: 'InterMedium';
    font-size: var(--font-size-15);
    color: var(--font-color-reg-info);
    text-align: center;
}

.logo-path {
    grid-area: logo-path;

    background-image: url(img/background_right.svg); /* Фоновый цвет и фоновый рисунок*/
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: cover;

    display: grid;
    grid-template-areas:
        ". . ."
        ". logo-table ."
        ". . .";

    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 100px 1fr;
}

.logo-table {
    grid-area: logo-table;
    display: grid;

    grid-template-areas:
        ". . . . ."
        ". logo-pic . . ."
        ". logo-pic . logo-text ."
        ". logo-pic . . ."
        ". . . . ."
        "logo-table-text logo-table-text logo-table-text logo-table-text logo-table-text"
        ". . . . .";

    grid-template-columns: 10% 10% 60% 20%;
    grid-template-rows: 20% 30% 30% 20%;

    background: var(--background-color-logo-table);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.logo-text {
    grid-area: logo-text;
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

.logo-pic {
    grid-area: logo-pic;

    background-image: url(img/logo.svg); /* Фоновый цвет и фоновый рисунок*/
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: 100%;
    border-radius: 12px;
    background-position: center;
}

.logo-table-text {
    grid-area: logo-table-text;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-select-dark);
}
