@font-face {
    font-family: Limelight; /* Имя шрифта */
    src: url(fonts/Limelight-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterMedium; /* Имя шрифта */
    src: url(fonts/Inter-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: InterRegular; /* Имя шрифта */
    src: url(fonts/Inter-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MailSansRoman; /* Имя шрифта */
    src: url(fonts/MailSansRoman-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Comfortaa; /* Имя шрифта */
    src: url(fonts/Comfortaa-Medium.ttf); /* Путь к файлу со шрифтом */
}

:root {
    --font-size-12: 12px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-23: 23px;
    --font-size-28: 28px;

    --font-color-select-dark: #D9D9D9;
    --font-color-gray-text: #6C6F72;
    --font-color-info: #395EBA;
    --font-color-reg-info: #8D949D;
    --font-color-logo-color: #44009D;
    --font-color-error: #D5534D;
    --font-color-btn: #FFFFFF;

    --background-color-main: #FAFAFA;
    --background-color-error: #FFEBEB;
    --background-color-input: #F5F5F5;
    --background-color-btn: linear-gradient(270deg, #C72FCB -0.18%, #803BB6 37.83%, #510AC2 70.47%, #510AC2 98.59%);
    --background-color-logo-table: rgba(251, 221, 255, 0.4);
}

.input-block {
    grid-area: input-block;
    display: grid;
    grid-template: 70% 2% 28%/ 100%;
    grid-template-areas:
        "input-field"
        "."
        "error-text";
}

.input-field {
    grid-area: input-field;

    height: 100%;
    width: 100%;
    padding: 0;
    text-indent: 5px;
    font-family: 'InterMedium';
    font-size: var(--font-size-15);
    color: var(--font-color-gray-text);
}

.input-field::placeholder {
    font-family: InterMedium;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
}

.correct-input {
    border: none;
    background: var(--background-color-input);
}

.incorrect-input {
    border: 1px solid var(--font-color-error);
    border-radius: 8px;
    background: var(--background-color-error);
}

.error-text {
    grid-area: error-text;

    font-family: 'InterRegular';
    font-weight: 400;
    font-size: var(--font-size-12);
    color: var(--font-color-error);
}

.btn {
    grid-area: btn;

    height: 100%;
    width: 100%;
    color: var(--font-color-btn);
    background: var(--background-color-btn);
    font-size: var(--font-size-16);
    font-family: 'Mail Sans Roman';
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

body, html {
    margin: 0;
    height: 100%;
}

.main {
    height: 100%;
    display: grid;
    grid-template: 100% / 48.715% 51.285%;
    grid-template-areas:
        "auth-path logo-path";
}

.auth-path {
    grid-area: auth-path;

    display: grid;
    grid-template: 21% 35% 44%/ 15% 70% 15%;
    grid-template-areas:
        ". . ."
        ". auth-table ."
        ". reg-table .";
}

.auth-table {
    grid-area: auth-table;

    display: grid;
    grid-template: 15% 7% 5% 16% 5% 16% 10% 13% 13%/ 24% 52% 24%;
    grid-template-areas:
        ". . ."
        ". title ."
        ". . ."
        ". input-block ."
        ". . ."
        ". iinput-block ."
        ". . ."
        ". btn ."
        ". . .";
}

.title {
    grid-area: title;

    text-align: center;

    /* Figma */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-with-error1 {
    grid-area: input-field1;

    display: grid;
    grid-template: 70% 2% 28%/ 100%;
    grid-template-areas:
        "input-field"
        "."
        "error-text";
}

.input-with-error2 {
    grid-area: input-field2;

    display: grid;
    grid-template: 70% 2% 28%/ 100%;
    grid-template-areas:
        "input-field"
        "."
        "error-text";
}

.reg-table {
    grid-area: reg-table;

    display: grid;
    grid-template: 47% 53%/ 12.5% 75% 12.5%;
    grid-template-areas:
        ". reg ."
        ". . .";
}

.reg {
    grid-area: reg;

    display: grid;
    grid-template: 21% 23% 9% 26% 21%/ 15.5% 69% 15.5%;
    grid-template-areas:
        ". . ."
        ". create-new-acc ."
        ". . ."
        ". text-reg ."
        ". . .";
}

.create-new-acc {
    grid-area: create-new-acc;

    text-align: center;

    /* Figma */
    font-family: 'Mail Sans Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #395EBA;
}

.text-reg {
    grid-area: text-reg;

    /* Figma */
    font-family: 'InterMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    color: #8D949D;
}

.logo-path {
    grid-area: logo-path;

    background-image: url(img/background_right.svg); /* Фоновый цвет и фоновый рисунок*/
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: cover;

    display: grid;
    grid-template: 34.53% 18.85% 46.62% / 23.8% 52.4% 23.8%;
    grid-template-areas:
        ". . ."
        ". logo-table .";
}

.logo-table {
    grid-area: logo-table;

    display: grid;
    grid-template: 25% 29% 9% 12% 25% / 100%;
    grid-template-areas:
        "."
        "logo"
        "."
        "under-logo-text"
        ".";

    /* Figma */
    background: rgba(251, 221, 255, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.logo {
    grid-area: logo;

    display: grid;
    grid-template: 100%/ 27% 9% 2% 35% 27%;
    grid-template-areas:
        ". logo-pic . logo-text .";
}

.logo-text {
    grid-area: logo-text;

    text-align: left;
    padding-top: 14px;
    padding-bottom: 12px;

    /* Figma */
    font-family: Limelight;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #44009D;
}

.logo-pic {
    grid-area: logo-pic;

    background-image: url(img/logo.svg); /* Фоновый цвет и фоновый рисунок*/
    background-repeat: no-repeat; /* Изображение повторяется по горизонтали */
    background-size: 100%;
    border-radius: 12px;
    background-position: center;
}

.under-logo-text {
    grid-area: under-logo-text;

    text-align: center;

    /* Figma */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    color: #D9D9D9;
}
