.profileCard {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*background-color: var(--background-color-menu);*/
    /*box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 12px;*/
    /*padding: 0px 20px 20px;*/
    /*margin-bottom: 32px;*/
    /*min-width: 350.5px;*/

    display: grid;

    grid-template-areas: "header"
                         "info";

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    background-color: var(--background-color-menu);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 32px;
}

.profileCard__header {
    display: grid;
    grid-area: header;
    padding: 20px;
    border-radius: 12px 12px 0px 0px;
}

.profileCard__header-button {
    padding: 20px;
}

.profileCard__button {
    display: flex; 
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: var(--font-color-comment-sender);
    color: var(--background-item-hovered);
    text-overflow: ellipsis;
    font-family: InterRegular;
    font-size: var(--font-size-15);
    white-space: nowrap;
    cursor: pointer;
}

.profileCard__button_grey {
    background-color: var(--background-item-hovered);
    color: var(--font-color-gray-text);
}

.profileCard__button:hover {
    background-color: var(--background-color-icon);
}

.profileCard__button_grey:hover {
    background-color: var(--background-color-header);
}

.profileCard__body {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/

    grid-area: info;
    display: grid;
    padding: 0 20px 20px;

    grid-template-areas: "user-info ."
                         "user-info profile-buttons";

    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr minmax(40px, max-content);
    /*width: 100%;*/
}

.profileCard__inf {
    margin-top: -8px;
}

.profileCard__info {
    grid-area: user-info;
    display: grid;
    grid-template-columns: 100px 23px 1fr;
    width: 100%;
}

.profileCard__info-img-wrapper {
    width: 140px;
    height: 120px;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
}

.profileCard__info-img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.profileCard__info-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 16px;
    max-width: 400px;
    grid-column: 3;
}

.profileCard__edit-icon {
    display: none;
}

@media screen and (max-width: 560px) {
    .profileCard__button-text {
        display: none;
    }

    .profileCard__edit-icon {
        display: inline-block;
        margin: auto;
    }

    .profileCard__button {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.profileCard__info-text {
    word-break: break-word;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-15);
}
.profileCard__info-text_header {
    word-break: break-word;
    color: var(--font-color-post-sender);
    font-family: Montserrat;
    font-size: var(--font-size-23);
}

.profileCard__info-text_little {
    word-break: break-word;
    color: var(--font-color-reg-info);
    font-size: var(--font-size-12);
}



.profileCard__buttons {
    display: flex;
    grid-area: profile-buttons;
}