.menu-item {
    cursor: pointer;
    height: 40px;
    display: grid;
    grid-template-columns: 20px 106px 20px;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu-item__icon {
    grid-column: 1;
    grid-row: 1;
}

.menu-item__text {
    display: inline-grid;
    align-items: center;

    grid-column: 2;
    grid-row: 1;
}
.menu-item__notifies {
    display: inline-grid;
    align-items: center;

    grid-column: 3;
    grid-row: 1;
}

.hover-block {
    color: var(--font-color-gray-text);
}
.hover-block:hover {
    background-color: var(--background-item-hovered, #F5F5F5);
    /* color: var(--font-color-menu-item-hover, #B95DD9); */
}
.hover-block img:nth-child(2) {
    display: none;
}

@media (max-width: 760px) {
    .menu-item {
        cursor: pointer;
        height: 40px;
        display: grid;
        grid-template-columns: 20px;
        grid-template-rows: 1fr;
        grid-column-gap: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .menu-item__icon {
        grid-column: 1;
        grid-row: 1;
    }

    .menu-item__text {
        display: none;
    }
    .menu-item__notifies {
        display: none;
    }


}