.menu-item {
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 10px 20px 8px 106px 8px 22px;
}
.menu-item__icon {
    grid-column: 2;
}
.menu-item__text {
    display: inline-grid;
    align-items: center;

    grid-column: 4;
}
.menu-item__notifies {
    display: inline-grid;
    align-items: center;

    grid-column: 6;
}

.hover-block {
    color: var(--font-color-gray-text);
}
.hover-block:hover {
    background-color: var(--background-item-hovered, #F5F5F5);
    /* color: var(--font-color-menu-item-hover, #B95DD9); */
}
.hover-block img:nth-child(2) {
    display: none;
}
/* .hover-block:hover img:nth-child(1) {
    display: none;
}
.hover-block:hover img:nth-child(2) {
    display: inline-block;
} */
