<div class="menu-item" id="{{ jsId }}">
    <img class="menu-item__icon" src={{ iconPath }}>
    <span class="menu-item__text font-color-gray-text font-size-15 font-MailSansRoman"> {{ text }} </span>
    <!--<span class="menu-item__notifies">{{ notifies }}</span>-->
</div>
