.smiles-keyboard {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    right: 17%;

    width: 300px;
    height: 200px;

    border-radius: 5px;

    padding: 10px;
}

.smiles {
    height: 80%;
    overflow-y: scroll;
}

.smiles-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 20px;
}

.smiles-block__smile {
    padding: 6px;
}

.smiles-block__smile:hover {
    background-color: var(--background-item-hovered);
    border-radius: 5px;
    cursor: pointer;
}

.smiles-keyboard__options {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 10px;
}

.keyboard_img {
    width: 20px;
}

.smiles-keyboard-icon {
    height: 100%;
    cursor: pointer;
}

.smiles-keyboard-icon input:nth-child(2) {
    display: none;

}
