<div class="input-block sign-btn-input-size">
    <input class="input-block__field input-block__field_correct font-InterMedium font-color-gray-text font-size-15 border-radius-btn-input text-indent-input" id="{{ jsIdInput }}" placeholder={{ help }} type={{ type }}>
    <div class="input-block__error font-InterRegular font-size-12 font-color-error" id="{{ jsIdError }}"></div>
</div>