.comment {
    display: grid;
    grid-template-rows: 17px 15px 1fr;
    grid-template-columns: 35px 1fr auto;
    grid-template-areas: "commnent-sender-photo comment-sender-name comment-management"
                         "commnent-sender-photo comment-data ."
                         ". comment-body .";
    grid-column-gap: 16px;

    grid-row-gap: 4px;

}
.comment:hover .comment-operations {
    visibility: visible;
}

/*.comment-editing-block {*/
/*    display: grid;*/
/*    grid-template-areas: "commnent-sender-photo . comment-sender-name . editing-comment-title"*/
/*                         ". . comment-edit-area comment-edit-area comment-edit-area"*/
/*                         ". . edit-buttons edit-buttons edit-buttons";*/

/*    grid-template-rows: 40px 1fr  30px;*/
/*    grid-template-columns: 35px 16px 1fr 10px 1fr;*/

/*    !*grid-row-gap: 8px;*!*/
/*}*/


.comment-editing-block {
    display: grid;
    grid-template-areas: "commnent-sender-photo . comment-sender-name . editing-comment-title"
                         ". . comment-edit-area comment-edit-area comment-edit-area"
                         ". . . . ."
                         ". . edit-buttons edit-buttons edit-buttons";

    grid-template-rows: 40px 1fr 10px 30px;
    grid-template-columns: 35px 16px max-content 1fr;

    /*grid-row-gap: 8px;*/
}


.comment-edit-title {
    grid-area: editing-comment-title;
}

.comment-edit-input {
    padding: 0 10px;
    grid-area: comment-edit-area;
}

.editing-buttons {
    margin-left: auto;
    grid-area: edit-buttons;

    display: grid;

    grid-template-columns: minmax(100px, 120px) minmax(100px, 120px);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    position: relative;
}

.submit-comment-edit-button, .cancel-comment-edit-button {
    margin: auto;
    height: 100%;
    width: auto;
    padding: 0 8px;

    display: flex;

    align-content: center;
    justify-content: center;
}

.submit-comment-edit-button:hover {
    background-color: var(--font-color-menu-item-hover);
}

.cancel-comment-edit-button:hover {
    background-color: var(--background-color-header);
}

.submit-comment-edit-button__text, .cancel-comment-edit-button__text {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.comment__avatar {
    margin: auto;
    /*grid-column: 1;*/
    /*grid-row: 1 / 3;*/

    grid-area: commnent-sender-photo;
}
.comment__name {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*grid-column: 2;*/
    /*grid-row: 1;*/
    overflow: hidden;
    grid-area: comment-sender-name;
}
.comment__date {
    /* grid-column: 3;
    grid-row: 1; */
    grid-area: comment-data;
}
.comment-operations {
    /* grid-column: 3;
    grid-row: 2; */
    display: grid;
    grid-area: comment-management;
    visibility: hidden;
    grid-template-columns: 1fr 1fr;
}


.comment-operations__update {
    grid-column: 1;
    margin: auto;
}
.comment-operations__delete {
    grid-column: 2;
    margin: auto;
}
.comment__text {
    /* grid-column: 2;
    grid-row: 2; */
    grid-area: comment-body;

    overflow: auto;
    word-break: break-word;
    white-space: pre-line;
}
.edit-comment__input {
    max-height: 200px;
    grid-area: comment-edit-area;

    width: 100%;
    resize: none;
}

@media screen and (max-width: 560px) {
    .comment-operations {
        visibility: visible;
    }

    .comment-edit-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .comment-editing-block {
        grid-template-areas: "commnent-sender-photo . comment-sender-name comment-sender-name comment-sender-name"
                             "commnent-sender-photo . editing-comment-title editing-comment-title editing-comment-title"
                             ". . comment-edit-area comment-edit-area comment-edit-area"
                             ". . . . ."
                             ". edit-buttons edit-buttons edit-buttons edit-buttons";

        grid-template-rows: 20px  20px 1fr 10px 30px;
        grid-template-columns: 35px 16px max-content 1fr;
    }

    .editing-buttons {
        grid-template-columns: 1fr 1fr;
    }
}
