<div class="safety background-color-feed" id="safety">
    {{> sideBar sideBarData}}
    {{> header headerData}}
    <div class="settings__settingsPath">
        <div class="settings-path">

            <div class="settingsPath">
                <div class="safety__header font-size-23 font-Montserrat">{{safetyPathData.header}}</div>

                {{#each safetyPathData.inputFields}}
                    {{> inputField this}}
                {{/each}}

                <div class="settings-path__button">
                    {{> buttonDefault safetyPathData.buttonInfo}}
                </div>
            </div>
            <div class="menu-settings border-radius-btn-input background-color-profile-menu box-shadow-create-post">
                {{#each safetyPathData.menuInfo}}
                    <div class="menu-settings-item hover-block border-radius-btn-input" style="cursor: pointer;" id="{{ this.jsId }}">
                        <span class="menu-item__text font-size-15 font-InterMedium"> {{ this.text }} </span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
