body {
    margin: 0px;
}

.main {
    display: grid;
    background-color: var(--background-item-hovered);
    grid-template-areas: 
        "menu content ."
        "menu content ."
        "menu content .";

    grid-template-columns: 25% 50% 25%;

    grid-column-gap: 35px;
}

@media all and (max-width: 720px) {
    .main { 
        grid-template-areas: 
            "menu content ."
            "menu content ."
            "menu content .";
 
        grid-template-columns: minmax(50px, 1fr) 80% 10%;
    }
}

.main-content {
    margin-top: 10px;
    display: grid;

    grid-template-areas:
    "header"
    "post_creator"
    "feed";

    grid-template-rows: 50px 50px;
    grid-template-columns: minmax(100px, 1fr);
    grid-row-gap: 10px;
}

.feed {
    padding-bottom: 20px;
    grid-area: feed;

    display: grid;

    grid-template-rows: 1fr;
    grid-row-gap: 20px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "search . notification profile menu";
    grid-template-columns: 2fr 1fr 40px 40px 20px;

    grid-template-rows: 1fr;
}

.header > div {
    margin-top: auto;
    margin-bottom: auto;

    padding-left: auto;
    padding-right: auto;
}

.search-area-wrap {
    grid-area: search;
    border-radius: var(--main-border-radius);
}

.search-area {
    background-color: var(--background-color-input);
    border-radius: var(--main-border-radius);
    box-shadow: inset 0 4px 8px rgb(0 0 0 / 4%);

    display: grid;

    grid-template-columns: 30px 1fr;
}

.search-area-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-input {
    margin-right: 10px;
    background: transparent;
    border: none;
    font-family: 'InterMedium';
    font-size: var(--font-size-12);
    color: var(--font-color-gray-text);
    height: 30px;
}

.notification-icon {
    grid-area: notification;
}

.notification-icon {
    margin: auto;
}

.notification-icon img {
    height: var(--notification-img-size);
}

.profile-icon {
    grid-area: profile;
    margin: auto;
}

.profile-icon img {
    height: var(--profile-img-size);
}



.profile-menu-icon {
    grid-area: menu;

    font-family: "MailSansRoman";
    color: var(--font-color-gray-text);
}

.exit {
    padding-left: 10px;
    padding-right: 10px;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
}

.exit:hover {
    cursor: pointer;
}

.exit img {
    width: 20px;
    height: 20px;
}

.exit img:nth-child(3) {
    display: none;
}

.exit:hover img:nth-child(2) {
    display: none;
}

.exit:hover img:nth-child(3) {
    display: inline-block;
}

.header-dropdown-menu {
    display: none;
    position: absolute;
}

.profile-menu-icon:hover .header-dropdown-menu {
    display: grid;

    grid-template-rows: repeat(1, minmax(30px, 1fr));
    background-color: var(--background-color-menu);
    border-radius: 12px;
    border: 1px solid var(--background-color-input);
}



.header-icon:hover {
    cursor: pointer;
}








.post-creator {
    border-radius: var(--main-border-radius);
    grid-area: post_creator;
    padding-left: var(--feed-content-padding);
    padding-right: var(--feed-content-padding);
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 2fr 16fr 2fr 1fr;
    grid-column-gap: 4px;
}

.post-creator-element {
    display: flex;
    align-items: center;
    justify-content: center;
}


.photo-input, .emoji-input {
    cursor: pointer;
}

.post-creator-profile{
    display: flex;
    align-items: center;
}

.post-creator-profile img {
    height: var(--profile-img-size);
}
.post-creator-element img:nth-child(2) {
    display: none;
}

.post-creator-element:hover img:nth-child(1) {
    display: none;
}

.post-creator-element:hover img:nth-child(2) {
    display: inline-block;
}

.post-input input {
    font-family: InterRegular;
    font-size: 15px;
    color: var(--font-color-reg-info);

    width: 100%;
    border: none;
    background: transparent;
}

.post-input input:focus {
    outline: none;
}

.side-bar {
    padding-top: var(--main-margin);
    padding-right: 15px;
    grid-area: menu;
    background-color: var(--background-color-menu);

    display: grid;
    grid-template-areas: 
    ". logo"
    ". navigation";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px ;
}


.side-bar .logo-block {
    grid-area: logo;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 5px;
}

@media all and (max-width: 720px) {
    .side-bar {
        padding-top: 12px;
        padding-right: 0px;
        grid-area: menu;
        background-color: var(--background-color-menu);

        display: grid;
        grid-template-areas: 
        "logo"
        "navigation";

        grid-template-columns: 1fr;
        grid-template-rows: 50px ;
    }

    .side-bar .logo-block {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: logo;
    }

    .nav-list {
        display: flex;
        justify-content: center;
    }

    .logo-block .logo-text {
        display: none;
    }
}

.logo-block .logo-text {
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

.nav-list {
    grid-area: navigation;
}

.nav-list ol {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.nav-list a {
    text-decoration: none;
}


.nav-item {
    height: 30px;

    padding-left: 8px;
    padding-right: 8px;

    list-style-type: none; /* Убираем маркеры */

    border-radius: 8px;

    margin-bottom: 8px;

    display:  grid;

    grid-template-columns: 1fr 70% 1fr;
    grid-column-gap: 5px;

    color: var(--font-color-nav);

    font-size: var(--font-size-12);

}

@media all and (max-width: 720px) {
    .nav-item {
        display: flex;
        justify-content: center;

        border-radius: var(--main-border-radius);

        margin-bottom: 8px;

        color: var(--font-color-nav);

        font-size: var(--font-size-12);*/

    }

    .nav-item-text, .nav-item-notify {
        display: none;
    }
}

.nav-item img {
    height: var(--font-size-15);
}

.nav-item * {
    font-family: "MailSansRoman";
}


.nav-item:hover {
    color: var(--font-color-nav-hover);
    background-color: var(--background-item-hovered);
}

.nav-item img:nth-child(2) {
    display: none;
}

.nav-item:hover img:nth-child(1) {
    display: none;
}

.nav-item:hover img:nth-child(2) {
    display: inline-block;
}

.nav-item-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-text {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-notify {
    margin-top: auto;
    margin-bottom: auto;

    height: 50%;
    border-radius: 80%;
    background-color: var(--background-color-nav-notify);
}

.nav-item-notify p {
    margin:  0px;
    text-align: center;
}



.post {
    font-family: "MailSansRoman";
    font-size: var(--font-size-12);
    color: var(--font-color-post-sender);

    padding: var(--feed-content-padding);

    border-radius: var(--main-border-radius);

    background-color: var(--background-color-menu);

    display: grid;
    grid-template-columns: minmax(50px, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 15px;

}

.post-head {
    display: grid;

    grid-template-areas:
    "icon name edit-area"
    "icon date edit-area";

    grid-template-rows: 50% 50%;
    grid-template-columns: 30px 80% 10%;

    grid-column-gap: 8px;
}

.post-body {
    word-wrap: break-word;
    line-height: 18px;
}

.post-author-image {
    grid-area: icon;
}

.post-author-image img {
    height: var(--profile-img-size);
}

.post-author-name {
    grid-area: name;
}

.post-date {
    grid-area: date;
}

.post-edit {
    grid-area: edit-area;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.post-bottom {
    display: grid;

    grid-template-columns: 50px 50px 30px 10fr;
    grid-column-gap: 5px;
}

.post-bottom button {
    height: 25px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: var(--main-border-radius);
    background-color: var(--background-color-menu);
    border: 1px solid var(--background-color-nav-notify);
}


.post-bottom span {
    font-size: var(--font-size-12);
    color: var(--font-color-nav);
}


.post-bottom button:hover {
    background-color: var(--background-color-input);
    cursor: pointer;
}

.post-bottom button img {
    height: 20px;
    display: block;
}

.post-bottom button > div {
    margin-left: 0px;
/*  padding-right: 2px;*/
}


.post-like-number {
    margin: auto;

}

.post-comments-number {
    margin: auto;
}

.post-bookmark-icon {
    display: block;
    padding: auto;
}


.post-like-icon img:nth-child(2) {
    display: none;
}

.post-bookmark-icon img:nth-child(2) {
    display: none;
}



.post-comments-section {
    display: grid;

    grid-template-rows: 1fr;
    grid-row-gap: 10px;
}

.comments-list {
    padding-top: 5px;
    display: grid;

    grid-template-rows: 1fr;

    grid-row-gap: 10px;
}


.comment {
    display: grid;

    grid-template-areas:
    "photo name ."
    "photo date ."
    "photo body edit";


    grid-template-rows: 15px 15px 1fr;
    grid-template-columns: 30px 6fr 60px;

    grid-column-gap: 7px;
}

.commentators-photo {
    grid-area: photo;
}

.commentators-photo img {
    height: var(--profile-img-size);
}

.commentators-name {
    grid-area: name;
}

.comment-body {
    grid-area: body;
}

.comment-date {
    grid-area: date;
    font-size: var(--font-size-10) !important;
    color: var(--font-color-gray-text) !important;
}

.comment-edit-block {
    grid-area: edit;
}

.create-comment-section {
    display: grid;

    grid-template-columns: 30px 12fr 5% 5% 1fr;
    grid-column-gap: 8px;

}


.comment-input-block {
    display: flex;
}



.comment-input-block input:focus, .search-area input:focus {
    outline: none;
}

.create-comment-section > div {
    display: flex;

    align-items: center;
}

.attach-photo-icon, .choose-emoji-icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.comment-profile-icon img {
    width: var(--profile-img-size);
    height: var(--profile-img-size);
}

.attach-photo-icon img, .choose-emoji-icon img {
    height: var(--input-widgets-size);
    width: var(--input-widgets-size);
}


.comment-input-block input {
    background-color: var(--background-color-input);

    border-radius: var(--main-border-radius);
    border: none;

    text-indent: 5px;

    font-family: 'InterMedium';
    font-size: var(--font-size-12);
    color: var(--font-color-gray-text);
    width: 100%;
    height: 28px;
}

.comment-input-block input::placeholder {
    font-family: InterMedium;
    color: var(--font-color-gray-text);
    font-size: var(--font-size-12);
}


.attach-photo-icon img:nth-child(2) {
    display: none;
}

.attach-photo-icon:hover img:nth-child(1) {
    display: none;
}

.attach-photo-icon:hover img:nth-child(2) {
    display: inline-block;
}

.choose-emoji-icon img:nth-child(2) {
    display: none;
}

.choose-emoji-icon:hover img:nth-child(1) {
    display: none;
}

.choose-emoji-icon:hover img:nth-child(2) {
    display: inline-block;
}

.logo-path {
    grid-area: logo-path;

    background-image: url(img/background_right.svg); /* Фоновый цвет и фоновый рисунок*/
    background-repeat: no-repeat repeat; /* Изображение повторяется по горизонтали */
    background-size: cover;

    display: grid;
    grid-template-areas:
        ". . ."
        ". logo-table ."
        ". . .";

    grid-template-columns: minmax(100px, 25%) minmax(300px, 50%) minmax(100px, 25%);
    grid-template-rows: 31% 25% 59.5%
}

.logo-table {
    grid-area: logo-table;
    display: grid;

    grid-template-areas:
        ". . ."
        ". logo-text ."
        ". logo-table-text ."
        ". . .";

    grid-template-columns: minmax(50px, 10%) minmax(100px, 80%) minmax(50px, 10%);


    grid-template-rows: minmax(10px, 30%) minmax(40px, 20%) minmax(40px, 30%) minmax(10px, 20%);
    background: var(--background-color-logo-table);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.logo-table .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 9px;

    grid-area: logo-text;
    font-family: Limelight;
    font-size: var(--font-size-28);
    color: var(--font-color-logo-color);
}

.logo-table .logo-table-text {
    margin: auto;
    grid-area: logo-table-text;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: var(--font-size-23);
    color: var(--font-color-select-dark);
}