<div class="friendNotFound font-MailSansRoman font-size-16">
    <img class="friendNotFound__img" src="static/img/post_icons/sad_smile.svg">
    {{#if textInfo}}
        <div class="friendNotFound__text">{{ textInfo }}</div>
    {{else}}
        <div class="friendNotFound__text">Тут пока пусто</div>
    {{/if}}
</div>
