.friendNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--background-color-menu);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 149px;
    padding: 10px;
}

.friendNotFound__img {
    width: 24;
    height: 24;
}

.friendNotFound__text {
    color: var(--font-color-gray-text);
}
