.settings {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 30%) 55% minmax(200px, 15%);
    grid-template-areas: "sidebar main-column ."
                         "sidebar main-column .";
    grid-template-rows: 6vh 1fr;

    grid-column-gap: 38px;

    background-color: var(--background-color-feed);
    background-repeat: repeat;
}

.settings__settingsPath {
    grid-area: main;
}

@media (max-width: 760px) {
    .settings {
        min-width: 65vh;
        grid-template-columns: 50px 1fr 30px;
    }
}
