.friends {
    min-height: 100vh;
    display: grid;
    /*grid-template-columns: minmax(200px, 25%) minmax(max-content, 50%) minmax(200px, 25%);*/
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "sidebar main-column ."
                         "sidebar main-column .";
    grid-template-rows: 6vh 1fr;
    background-repeat: repeat-y;

    grid-column-gap: 38px;
}

.friends__info {
    grid-area: main;
    display: grid;
    grid-template-columns: 66% 8% 26%;
}


.friends__nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friends-menu-item__text {
    align-items: center;
    display: inline-grid;
}

.menu-friends {
    grid-column: 3;
    grid-row: 1;
    height: min-content;
    padding: 16px;
}

@media (max-width: 760px) {
    .friends {
        /*min-width: 60vh;*/
        grid-template-columns: 50px 1fr;
        grid-column-gap: 20px;
    }
}
@media (max-width: 760px) {
    .friends__info {
        grid-area: main;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        grid-row-gap: 28px;
    }

    .friends__nav-list {
        grid-row: 2;
        grid-column: 1;
    }

    .menu-friends {
        grid-row: 1;
        grid-column: 1;
    }
}