.friends {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 30%) 55% minmax(200px, 15%);
    grid-template-areas: "sidebar main-column ."
                         "sidebar main-column .";
    grid-template-rows: 6vh 1fr;

    grid-column-gap: 38px;

    background-color: var(--background-color-feed);
    background-repeat: repeat;
}

.friends__info {
    display: grid;
    grid-template-columns: 3fr minmax(130px, 1fr);
    grid-template-rows: 105px;
    grid-column-gap: 40px;
    grid-area: main;
    min-width: 390.5px;
}

.friends__nav-list {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 10px;*/

    display: grid;
    grid-gap: 10px;
}

.menu-friends {
    /*grid-column: 3;*/
    /*grid-row: 1;*/
    height: min-content;
    padding: 16px;
}

@media (max-width: 760px) {
    .friends {
        min-width: 65vh;
        grid-template-columns: 50px 1fr 30px;
    }

    /*.menu-item__text {*/
    /*    display: block;*/
    /*}*/
}