<div class="stickers">
    <div class="block-name">Стикеры</div>
    <div class="stickers-block">
        {{#if stickers}}
            {{#each stickers as |sticker|}}
                <img src="{{sticker.src}}" class="stickers-block__sticker" data-sticker_id="{{sticker.id}}">
            {{/each}}
        {{else}}
            <div class="stickers__info font-size-15">Стикеров пока нет</div>
        {{/if}}
    </div>
</div>
