<div class="header">
    <div class="search-area-wrap">
        <div class="search-area">
            <img src="img/search.svg" alt="">
            <input class="search-input" placeholder="text">
        </div>
    </div>

    <div class="notification-icon">
        <img class="header-icon" src="img/noticeUnread.svg" alt="">
    </div>

    <div class="profile-icon">
        <img class="header-icon" src="img/post_icons/profile_image.svg">
    </div>

    <div class="profile-menu-icon">
        <img class="header-icon" src="img/menu.svg">
    </div>
</div>