.header {
    grid-area: header;
    align-self: start;
    top: 0;
    position: sticky;
    align-items: center;
    display: grid;

    grid-template-areas: "search-area . profile-item";
    grid-template-columns: 66% 1fr minmax(20px, 50px);
    grid-template-rows: 1fr;
}

.search-area-with-dropdown {
    position:relative;

    grid-area: search-area;
    display: grid;
    grid-template-areas:
            "input-area"
            "dropdown-area";

    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
}

.search-area {
    grid-area: input-area;

    grid-column: 1;
    mix-blend-mode: normal;

    display: grid;
    grid-template-areas:
        "search-icon input";
    height: 40px;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 40px;
}

.search-area__icon {
    grid-area: search-icon;
    margin: auto;
}
.search-area__input {
    margin-right: 10px;
    grid-area: input;
}

.notification {
    grid-column: 3;
}

.notification__icon {
    margin: auto;
    padding: 10px;
    grid-column: 3;
}
.profile {
    grid-area: profile-item;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}
.profile__icon {
    grid-column: 1;
}
.profile__menu-icon {
    margin: auto;
    grid-column: 3;
    padding: 24px 8px;
    cursor: pointer;
}
.profile-menu {
    position: absolute;

    padding: 12px;

    display:  none;
    grid-template-rows: 1fr 1fr;
}
.profile__menu-icon:hover + .profile-menu {
    display: grid;
}
.profile-menu:hover {
    display: grid;
}
.profile-menu-item {
    cursor: pointer;

    display: grid;
    grid-template-columns: 4vh 1fr;
}

.header-position {
    z-index: 2;
}
.profile-menu-size {
    height: 100px;
}
.profile-menu-position {
    top: 4.5vh;
    right: 0px;
}

@media (max-width: 760px) {
    .profile-menu-position {
        top: 6vh;
    }
}