<div class="header header-size header-position">
    <div class="search-area background-color-header border-radius box-shadow-search-area">
        <img class="search-area__icon" src="static/img/search.svg">
        <input class="search-area__input border-none font-InterMedium font-size-12 font-color-gray-text background-color-header" placeholder="Найти">
    </div>

    <div class="notification">
        <img class="notification__icon profile-img-size margin-auto" src="static/img/noticeUnread.svg" alt="">
    </div>

    <div class="profile">
        <img class="profile__icon profile-img-size margin-auto" src={{ avatar }}>
        <img class="profile__menu-icon" src="static/img/menu.svg">
        <!--<div class="profile-menu" style="visibility: hidden;">
            <div class="exit">
                <span class="">Выйти</span>
                <img src="static/img/exit.svg">
            </div>
            <div class="setting">
                <span class="">Настройки</span>
                <img src="static/img/exit.svg">
            </div>
        </div>-->
    </div>
</div>
