<div class="search-area-wrap">
    <div class="search-area">
        <div class="search-area-icon">
        <img src="static/img/search.svg" alt="">
        </div>
        <input class="search-input" placeholder="Найти">
    </div>
</div>

<div class="notification-icon">
    <img class="header-icon" src="static/img/noticeUnread.svg" alt="">
</div>

<div class="profile-icon">
    <a href={{ profileUrl }}>
        <img class="header-icon" src={{ avatar }}>
    </a>
</div>

<div class="profile-menu-icon">
    <img class="header-icon" src="static/img/menu.svg">
    <div class="header-dropdown-menu">
        <div class="exit">
            <span>Выйти</span>
            <img src="static/img/exit.svg">
            <img src="static/img/exit_hover.svg">
        </div>

    </div>
</div>
